# Data Cleaning and Integration of COVID-19, PM2.5, and SDI Datasets

This notebook focuses on cleaning and merging three key datasets for a comprehensive analysis of PM2.5 air pollution and socio-demographic factors affecting COVID-19 outcomes:

1. **COVID-19 deaths dataset:** Contains country-level mortality data.
2. **PM2.5 concentration dataset:** Provides PM2.5 air pollution exposure metrics from 2010 to 2019.
3. **Socio-Demographic Index (SDI) dataset:** Offers socio-economic indicators from 2010-2019, with also a focus on the year 2020 for pandemic context.

The goal is to standardize country names, handle duplicates, and produce a clean, merged dataset ready for exploratory and statistical analyses. This notebook documents all steps for reproducibility and clarity.

---

### üì¶ Import Required Pandas Library

In [1]:
import pandas as pd

### üìÅ loading the dataset

from the CSV raw file, and making a copy for the cleaned to be dataset
and preview the first few rows.

In [2]:
covid_raw_df = pd.read_csv("../1_datasets/raw_datasets/covid_deaths_all_countries.csv")
covid_df = covid_raw_df.copy()
covid_df.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,Deaths,Spain,Both,Age-standardized,COVID-19,Rate,2020,5.413404e+01,5.658407e+01,5.143939e+01
1,Deaths,Belgium,Both,Age-standardized,COVID-19,Rate,2020,7.419978e+01,7.682945e+01,7.168123e+01
2,Deaths,Samoa,Both,Age-standardized,COVID-19,Rate,2020,3.247490e-09,3.247490e-09,3.247490e-09
3,Deaths,Papua New Guinea,Both,Age-standardized,COVID-19,Rate,2020,2.144257e+01,4.769251e+01,3.794842e+00
4,Deaths,Republic of Moldova,Both,Age-standardized,COVID-19,Rate,2020,6.889802e+01,8.799219e+01,4.823898e+01

### üßæ Initial Column Inspection
We inspect:
- Full list of column names
- Identify metadata columns 
- Identify unnecessary columns

In [3]:
covid_df.columns

Index(['measure', 'location', 'sex', 'age', 'cause', 'metric', 'year', 'val',
       'upper', 'lower'],
      dtype='object')

### üîç Summary Statistics & Missing Data
- Check initial rows and columns number with `.shape`
- Check `.info()` for data types and nulls
- Use `.isnull().sum()` to count missing values

In [4]:
print(covid_df.shape)
print(covid_df.info())
covid_df.isnull().sum()

(204, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   measure   204 non-null    object
 1   location  204 non-null    object
 2   sex       204 non-null    object
 3   age       204 non-null    object
 4   cause     204 non-null    object
 5   metric    204 non-null    object
 6   year      204 non-null    int64
 7   val       204 non-null    float64
 8   upper     204 non-null    float64
 9   lower     204 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 16.1+ KB
None

measure     0
location    0
sex         0
age         0
cause       0
metric      0
year        0
val         0
upper       0
lower       0
dtype: int64

### üßπ Column Renaming and Dropping
Drop columns:
- Drop columns not needed for analysis

Rename columns:
- Standardize names

In [5]:
covid_df = covid_df.drop(
    ["sex", "measure", "cause", "metric", "year", "age"], axis=1, errors="ignore"
)
covid_df = covid_df.rename(columns={"val": "COVID_Deaths_Rate", "location": "Country"})
covid_df.head()

               Country  COVID_Deaths_Rate         upper         lower
0                Spain       5.413404e+01  5.658407e+01  5.143939e+01
1              Belgium       7.419978e+01  7.682945e+01  7.168123e+01
2                Samoa       3.247490e-09  3.247490e-09  3.247490e-09
3     Papua New Guinea       2.144257e+01  4.769251e+01  3.794842e+00
4  Republic of Moldova       6.889802e+01  8.799219e+01  4.823898e+01

### üíæ Export Cleaned Data

Save the cleaned COVID deaths dataset to a `.csv` file for future use:

In [6]:
covid_df.to_csv("covid_all_countries_cleaned.csv", index=False)

### üìÅ loading the dataset

from the CSV raw file, and making a copy for the cleaned to be dataset
and preview the first few rows.

In [7]:
pm25_raw = pd.read_csv("../1_datasets/raw_datasets/pm25_annual_concentration.csv")
pm25_concentration = pm25_raw.copy()
pm25_concentration.head(10)

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AFR,Africa,Country,KEN,Kenya,Year,2019,...,NaN,NaN,6.29,NaN,13.74,10.01 [6.29-13.74],NaN,NaN,EN,2022-08-11T21:00:00.000Z
1,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,TTO,Trinidad and Tobago,Year,2019,...,NaN,NaN,7.44,NaN,12.55,10.02 [7.44-12.55],NaN,NaN,EN,2022-08-11T21:00:00.000Z
2,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,EUR,Europe,Country,GBR,United Kingdom of Great Britain and Northern I...,Year,2019,...,NaN,NaN,9.73,NaN,10.39,10.06 [9.73-10.39],NaN,NaN,EN,2022-08-11T21:00:00.000Z
3,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,GRD,Grenada,Year,2019,...,NaN,NaN,7.07,NaN,13.20,10.08 [7.07-13.20],NaN,NaN,EN,2022-08-11T21:00:00.000Z
4,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,BRA,Brazil,Year,2019,...,NaN,NaN,8.23,NaN,12.46,10.09 [8.23-12.46],NaN,NaN,EN,2022-08-11T21:00:00.000Z
5,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,EUR,Europe,Country,DNK,Denmark,Year,2019,...,NaN,NaN,9.37,NaN,10.97,10.12 [9.37-10.97],NaN,NaN,EN,2022-08-11T21:00:00.000Z
6,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,EUR,Europe,Country,RUS,Russian Federation,Year,2019,...,NaN,NaN,8.58,NaN,12.57,10.19 [8.58-12.57],NaN,NaN,EN,2022-08-11T21:00:00.000Z
7,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,EUR,Europe,Country,ESP,Spain,Year,2019,...,NaN,NaN,9.94,NaN,10.38,10.19 [9.94-10.38],NaN,NaN,EN,2022-08-11T21:00:00.000Z
8,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,GRD,Grenada,Year,2019,...,NaN,NaN,7.15,NaN,13.37,10.22 [7.15-13.37],NaN,NaN,EN,2022-08-11T21:00:00.000Z
9,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,GRD,Grenada,Year,2019,...,NaN,NaN,7.15,NaN,13.37,10.22 [7.15-13.37],NaN,NaN,EN,2022-08-11T21:00:00.000Z

### üßπ Column Renaming 

Rename columns with standardize names

In [8]:
pm25_concentration = pm25_concentration.rename(
    columns={
        "Location": "Country",
        "Period": "Year",
        "FactValueNumeric": "PM25 concentration (¬µg/m¬≥)",
        "Dim1": "Population Category",
        "FactValueNumericLow": "PM25 lower bound",
        "FactValueNumericHigh": "PM25 upper bound",
    }
)

### üéØ Filtering by Year and population Category

To ensure data consistency and focus our analysis on relevant entries, we applied filters using the `isin()` method

In [9]:
years_to_keep = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
category_to_keep = ["Total"]

pm25_concentration = pm25_concentration[
    pm25_concentration["Year"].isin(years_to_keep)
    & pm25_concentration["Population Category"].isin(category_to_keep)
]
pm25_concentration.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Country,Period type,Year,...,FactValueUoM,FactValueNumericLowPrefix,PM25 lower bound,FactValueNumericHighPrefix,PM25 upper bound,Value,FactValueTranslationID,FactComments,Language,DateModified
3,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,GRD,Grenada,Year,2019,...,NaN,NaN,7.07,NaN,13.20,10.08 [7.07-13.20],NaN,NaN,EN,2022-08-11T21:00:00.000Z
10,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,TTO,Trinidad and Tobago,Year,2019,...,NaN,NaN,7.93,NaN,12.59,10.26 [7.93-12.59],NaN,NaN,EN,2022-08-11T21:00:00.000Z
14,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,EUR,Europe,Country,LTU,Lithuania,Year,2019,...,NaN,NaN,9.29,NaN,11.22,10.37 [9.29-11.22],NaN,NaN,EN,2022-08-11T21:00:00.000Z
22,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,EUR,Europe,Country,FRA,France,Year,2019,...,NaN,NaN,10.27,NaN,10.65,10.46 [10.27-10.65],NaN,NaN,EN,2022-08-11T21:00:00.000Z
23,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AFR,Africa,Country,MUS,Mauritius,Year,2019,...,NaN,NaN,8.25,NaN,12.84,10.48 [8.25-12.84],NaN,NaN,EN,2022-08-11T21:00:00.000Z

### üßπ Column Dropping
- Drop columns not needed for analysis

In [10]:
pm25_concentration = pm25_concentration.drop(
    [
        "IndicatorCode",
        "Indicator",
        "ValueType",
        "ParentLocationCode",
        "ParentLocation",
        "SpatialDimValueCode",
        "Period type",
        "IsLatestYear",
        "Dim1 type",
        "Dim1ValueCode",
        "Dim2 type",
        "Dim2",
        "Dim2ValueCode",
        "Dim3 type",
        "Dim3",
        "Dim3ValueCode",
        "DataSourceDimValueCode",
        "DataSource",
        "FactValueNumericPrefix",
        "FactValueUoM",
        "FactValueNumericLowPrefix",
        "FactValueNumericHighPrefix",
        "FactValueTranslationID",
        "FactComments",
        "Language",
        "DateModified",
        "Location type",
        "Value",
    ],
    axis=1,
    errors="ignore",
)
print(pm25_concentration.shape)
pm25_concentration.head()

(1950, 6)

,Country,Year,Population Category,PM25 concentration (¬µg/m¬≥),PM25 lower bound,PM25 upper bound
3,Grenada,2019,Total,10.08,7.07,13.20
10,Trinidad and Tobago,2019,Total,10.26,7.93,12.59
14,Lithuania,2019,Total,10.37,9.29,11.22
22,France,2019,Total,10.46,10.27,10.65
23,Mauritius,2019,Total,10.48,8.25,12.84

### üîç Summary Statistics & Missing Data

- Check `.info()` for data types and nulls
- Use `.isnull().sum()` to count missing values

In [11]:
print(pm25_concentration.info())
pm25_concentration.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 1950 entries, 3 to 9442
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country                     1950 non-null   object
 1   Year                        1950 non-null   int64
 2   Population Category         1950 non-null   object
 3   PM25 concentration (¬µg/m¬≥)  1950 non-null   float64
 4   PM25 lower bound            1950 non-null   float64
 5   PM25 upper bound            1950 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 106.6+ KB
None

Country                       0
Year                          0
Population Category           0
PM25 concentration (¬µg/m¬≥)    0
PM25 lower bound              0
PM25 upper bound              0
dtype: int64

### ‚úÖ Index Reset

- Resetting the DataFrame index to maintain a clean and sequential index.

In [12]:
pm25_concentration.reset_index(drop=True)

,Country,Year,Population Category,PM25 concentration (¬µg/m¬≥),PM25 lower bound,PM25 upper bound
0,Grenada,2019,Total,10.08,7.07,13.20
1,Trinidad and Tobago,2019,Total,10.26,7.93,12.59
2,Lithuania,2019,Total,10.37,9.29,11.22
3,France,2019,Total,10.46,10.27,10.65
4,Mauritius,2019,Total,10.48,8.25,12.84
...,...,...,...,...,...,...
1945,Grenada,2010,Total,9.40,6.33,12.25
1946,Haiti,2010,Total,9.56,5.33,16.77
1947,Trinidad and Tobago,2010,Total,9.79,7.68,12.92
1948,Ireland,2010,Total,9.90,9.25,10.39
1949,Belize,2010,Total,9.91,4.11,20.14

### üíæ Export Cleaned Data

Save the cleaned datasets to a `.csv` file for future use:

In [ ]:
pm25_concentration.to_csv("pm25_all_countries_cleaned.csv", index=False)

### üìå Averaging PM‚ÇÇ.‚ÇÖ Concentration (2010‚Äì2019)

In this step, we calculate the long-term average of ambient PM‚ÇÇ.‚ÇÖ concentration for each country between 2010 and 2019. This allows us to capture chronic exposure to air pollution over a decade, which can be compared to COVID-19 outcomes in 2020. We then rename the resulting column to Avg_PM25_2010_2019 for consistency.

In [13]:
pm25_mean = pm25_concentration.groupby("Country", as_index=False)[
    "PM25 concentration (¬µg/m¬≥)"
].mean()
pm25_mean.rename(
    columns={"PM25 concentration (¬µg/m¬≥)": "Mean_PM25_2010_2019"}, inplace=True
)
print(pm25_mean.shape)
pm25_mean.head()

(195, 2)

       Country  Mean_PM25_2010_2019
0  Afghanistan               67.013
1      Albania               19.773
2      Algeria               22.371
3      Andorra                9.943
4       Angola               25.109

### üíæ Export Cleaned Data

Save this middle cleaned dataset to a `.csv` file for any future use:

In [ ]:
pm25_mean.to_csv("pm25_average_concentration.csv", index=False)

### üß¨ Merging COVID-19 Deaths with PM2.5 Mean Concentration Data

This step merges the cleaned COVID-19 deaths dataset with the average PM2.5 concentration dataset (2010‚Äì2019) based on common `country`. Before merging, country names were stripped of extra spaces to ensure consistency. The merge is performed using an **inner join** to retain only mutual countries present in both datasets.

In [14]:
pm25_mean["Country"] = pm25_mean["Country"].str.strip()
covid_df["Country"] = covid_df["Country"].str.strip()

covid_with_pm25 = pd.merge(covid_df, pm25_mean, on="Country", how="inner")
print(covid_with_pm25.shape)
covid_with_pm25.head(20)

(190, 5)

,Country,COVID_Deaths_Rate,upper,lower,Mean_PM25_2010_2019
0,Spain,5.413404e+01,5.658407e+01,5.143939e+01,10.995
1,Belgium,7.419978e+01,7.682945e+01,7.168123e+01,13.595
2,Samoa,3.247490e-09,3.247490e-09,3.247490e-09,7.623
3,Papua New Guinea,2.144257e+01,4.769251e+01,3.794842e+00,8.645
4,Republic of Moldova,6.889802e+01,8.799219e+01,4.823898e+01,14.186
5,Maldives,1.716048e+01,2.955523e+01,1.076136e+01,12.867
6,Latvia,2.347915e+01,4.879552e+01,1.200567e+01,13.821
7,Czechia,5.935351e+01,8.178778e+01,4.008980e+01,17.917
8,Zambia,1.976544e+02,2.238873e+02,1.731059e+02,17.213
9,Colombia,9.012895e+01,1.107824e+02,6.920020e+01,16.663
10,Russian Federation,6.945514e+01,7.928557e+01,6.014636e+01,9.857
11,Denmark,1.017076e+01,1.076042e+01,9.527820e+00,10.821
12,Lithuania,7.045651e+01,1.005646e+02,4.167469e+01,11.754
13,Tonga,5.315239e-09,5.315239e-09,5.315239e-09,7.261
14,Myanmar,3.009958e+01,6.079263e+01,1.195681e+01,27.490
15,Palau,4.737484e-08,4.737484e-08,4.737484e-08,7.685
16,Sweden,3.697111e+01,4.024832e+01,3.365585e+01,6.532
17,Solomon Islands,1.972575e-09,1.972575e-09,1.972575e-09,7.658
18,Malaysia,1.594046e+00,2.402270e+00,8.478579e-01,21.670
19,Bulgaria,1.120807e+02,1.536355e+02,6.360499e+01,21.074

### üåê Checking Unique Countries in the Merged Dataset

This code lists all unique countries present in the merged `COVID-19 and PM2.5` dataset and prints the total count. This step helps verify that the country names are consistent and gives a quick overview of the geographic coverage after merging.

In [15]:
unique_countries = covid_with_pm25["Country"].unique()
print(unique_countries)
print("Number of unique countries:", len(unique_countries))

['Spain' 'Belgium' 'Samoa' 'Papua New Guinea' 'Republic of Moldova'
 'Maldives' 'Latvia' 'Czechia' 'Zambia' 'Colombia' 'Russian Federation'
 'Denmark' 'Lithuania' 'Tonga' 'Myanmar' 'Palau' 'Sweden'
 'Solomon Islands' 'Malaysia' 'Bulgaria'
 "Lao People's Democratic Republic" 'Iraq' 'Costa Rica' 'France' 'Liberia'
 'Botswana' 'Jordan' 'Croatia' 'Guinea' 'Djibouti' 'Finland'
 'Dominican Republic' 'Comoros' 'Armenia' 'Kuwait' 'Romania' 'Switzerland'
 'Grenada' 'Mali' 'San Marino' 'Eritrea' 'Timor-Leste' 'El Salvador'
 'Afghanistan' 'Sudan' 'Lebanon' 'Israel' 'Brunei Darussalam' 'Montenegro'
 'Guyana' 'Greece' 'South Africa' 'Argentina' 'Sri Lanka' 'Thailand'
 'Bhutan' 'Morocco' 'Iceland' 'Sao Tome and Principe' 'Honduras' 'Jamaica'
 'Lesotho' 'Mauritania' 'Nicaragua' 'Tuvalu' 'Chile' 'Ethiopia' 'Mexico'
 'Uruguay' 'Belarus' 'Mongolia' 'Eswatini' 'Malawi' 'Saint Lucia'
 'Republic of Korea' 'Poland' 'Senegal' 'Ireland' 'Madagascar' 'Niger'
 'Marshall Islands' 'India' 'Saint Vincent and the Grenadines' 'Canada'
 'Kazakhstan' 'Slovakia' 'Panama' 'Fiji' 'Oman' 'Cook Islands'
 'Burkina Faso' 'Pakistan' 'Singapore' 'Luxembourg' 'Norway' 'South Sudan'
 'Zimbabwe' 'Syrian Arab Republic' 'Qatar' 'Australia' 'Kyrgyzstan'
 'Nepal' 'Brazil' 'United States of America' 'Suriname'
 "Democratic People's Republic of Korea" 'Turkmenistan' 'Seychelles'
 'Niue' 'Bahamas' 'Equatorial Guinea' 'Algeria' 'Gambia' 'Kiribati'
 'Malta' 'Somalia' 'Bolivia (Plurinational State of)' 'Mauritius'
 'Cameroon' 'Slovenia' 'Tunisia' 'Albania' 'Cambodia' 'Andorra' 'Paraguay'
 'Central African Republic' 'Uzbekistan' 'Bahrain' 'Angola' 'Barbados'
 'Mozambique' 'Sierra Leone' 'Monaco' 'Ghana' 'Austria' 'Gabon' 'Ecuador'
 'Belize' 'Cabo Verde' 'Peru' 'United Republic of Tanzania' 'Egypt'
 'Indonesia' 'Bosnia and Herzegovina' 'Vanuatu' 'Philippines' 'Cyprus'
 'Cuba' 'Hungary' 'Ukraine' 'Azerbaijan' 'Dominica'
 'Iran (Islamic Republic of)' 'North Macedonia' 'Viet Nam' 'China'
 'Georgia' 'Burundi' 'Germany' 'Guatemala' 'Japan' 'Bangladesh'
 'Guinea-Bissau' 'Haiti' 'Serbia' 'Tajikistan' 'Libya'
 'Micronesia (Federated States of)' 'Namibia' 'Italy' 'New Zealand'
 'Kenya' 'Venezuela (Bolivarian Republic of)' 'Estonia'
 'Trinidad and Tobago' 'Nigeria' 'Antigua and Barbuda' 'Saudi Arabia'
 'Congo' 'Benin' 'Democratic Republic of the Congo' 'Portugal' 'Rwanda'
 'Togo' 'United Arab Emirates' 'Yemen' 'Chad' 'Uganda' 'Nauru'
 'Saint Kitts and Nevis']
Number of unique countries: 190

### üìÅ loading the dataset

from the CSV raw file, and making a copy for the cleaned to be dataset
and preview the first few rows.

In [16]:
raw_sdi_data = pd.read_csv(
    "../1_datasets/raw_datasets/sdi_by_country_year_2010_2019.csv"
)
sdi_df = raw_sdi_data.copy()
sdi_df.head()

,covariate_name_short,location_id,location_name,year_id,age_group_id,age_group_name,sex_id,sex,mean_value,lower_value,upper_value
0,sdi,1,Global,1950,22,All Ages,3,Both,0.369235,0.369235,0.369235
1,sdi,4,"Southeast Asia, East Asia, and Oceania",1950,22,All Ages,3,Both,0.205729,0.205729,0.205729
2,sdi,5,East Asia,1950,22,All Ages,3,Both,0.193972,0.193972,0.193972
3,sdi,6,China,1950,22,All Ages,3,Both,0.184144,0.184144,0.184144
4,sdi,7,Democratic People's Republic of Korea,1950,22,All Ages,3,Both,0.323069,0.323069,0.323069

### üßπ Column Renaming and Dropping
Drop columns:
- Drop columns not needed for analysis

Rename columns:
- Standardize names

In [18]:
sdi_df = sdi_df.drop(
    [
        "covariate_name_short",
        "location_id",
        "age_group_id",
        "age_group_name",
        "sex_id",
        "sex",
        "lower_value",
        "upper_value",
    ],
    axis=1,
    errors="ignore",
)
sdi_df = sdi_df.rename(
    columns={
        "location_name": "Country",
        "year_id": "Year",
        "mean_value": "SDI_mean_value",
    }
)
print(sdi_df.shape)
sdi_df.head()

(52992, 3)

                                  Country  Year  SDI_mean_value
0                                  Global  1950        0.369235
1  Southeast Asia, East Asia, and Oceania  1950        0.205729
2                               East Asia  1950        0.193972
3                                   China  1950        0.184144
4   Democratic People's Republic of Korea  1950        0.323069

### üéØ Filtering by Year, resetting index and view first 15 rows of the data along with the dataframe shape.

In [19]:
years_to_keep = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

sdi_df_2010_2019 = sdi_df[sdi_df["Year"].isin(years_to_keep)]
sdi_df_2010_2019.reset_index(drop=True)
print(sdi_df_2010_2019.shape)
sdi_df_2010_2019.head(15)

(7360, 3)

                                      Country  Year  SDI_mean_value
44160                                  Global  2010        0.612952
44161  Southeast Asia, East Asia, and Oceania  2010        0.628144
44162                               East Asia  2010        0.647985
44163                                   China  2010        0.641521
44164   Democratic People's Republic of Korea  2010        0.537193
44165              Taiwan (Province of China)  2010        0.827227
44166                          Southeast Asia  2010        0.584268
44167                                Cambodia  2010        0.410211
44168                               Indonesia  2010        0.585982
44169        Lao People's Democratic Republic  2010        0.414866
44170                                Malaysia  2010        0.688259
44171                                Maldives  2010        0.581981
44172                                 Myanmar  2010        0.460180
44173                             Philippines  2010        0.571766
44174                               Sri Lanka  2010        0.634263

In [20]:
sdi_df_2010_2019.reset_index(drop=True)

                                     Country  Year  SDI_mean_value
0                                     Global  2010        0.612952
1     Southeast Asia, East Asia, and Oceania  2010        0.628144
2                                  East Asia  2010        0.647985
3                                      China  2010        0.641521
4      Democratic People's Republic of Korea  2010        0.537193
...                                      ...   ...             ...
7355                                   Agder  2019        0.904361
7356                    Vestfold og Telemark  2019        0.903947
7357                               Innlandet  2019        0.895982
7358                                   Viken  2019        0.911227
7359                       Troms og Finnmark  2019        0.900550

[7360 rows x 3 columns]

### üìä Extracting SDI Data from 2010 to 2019

In this step, we extract Socio-Demographic Index (SDI) data for the years 2010 to 2019 to align with the long-term exposure window used in the PM2.5 analysis. This filtered dataset is then saved as a CSV file for consistent reuse across different analyses and to ensure traceability of the data processing pipeline.

In [ ]:
sdi_df_2010_2019.to_csv("sdi_data_2010_2019_cleaned.csv", index=False)

### ü¶† Filtering SDI for 2020: COVID-19 Contextual Analysis

To analyze the impact of socio-economic conditions on COVID-19 mortality, we isolate the SDI values for the year 2020. This allows us to incorporate country-level development and demographic factors specific to the pandemic year as part of our COVID-19-related models

In [21]:
years_to_keep = [2020]
sdi_df_2020 = sdi_df[sdi_df["Year"].isin(years_to_keep)]
print(sdi_df_2020.shape)
sdi_df_2020.head(15)

(736, 3)

                                      Country  Year  SDI_mean_value
51520                                  Global  2020        0.661344
51521  Southeast Asia, East Asia, and Oceania  2020        0.692215
51522                               East Asia  2020        0.717709
51523                                   China  2020        0.713365
51524   Democratic People's Republic of Korea  2020        0.568189
51525              Taiwan (Province of China)  2020        0.871248
51526                          Southeast Asia  2020        0.645070
51527                                Cambodia  2020        0.468876
51528                               Indonesia  2020        0.651927
51529        Lao People's Democratic Republic  2020        0.484193
51530                                Malaysia  2020        0.738744
51531                                Maldives  2020        0.647609
51532                                 Myanmar  2020        0.529435
51533                             Philippines  2020        0.644867
51534                               Sri Lanka  2020        0.697649

### üéØ Resetting index and dropping unnecessary columns

In [ ]:
sdi_df_2020.reset_index(drop=True)

In [ ]:
sdi_df_2020.drop(
    ["Year"],
    axis=1,
    errors="ignore",
)

In [ ]:
sdi_df_2020.reset_index(drop=True)

### üßπ Cleaning Country Names and Merging COVID-19, PM2.5, and SDI (2020) Data

Before merging datasets, we strip leading and trailing spaces from country names in both the `COVID-19 with PM2.5` dataset and the `SDI 2020` dataset to ensure consistent formatting. We then perform an **inner merge** on the `Country` column to retain only mutual countries present in both datasets. This final merged dataset integrates long-term air pollution exposure, COVID-19 mortality, and 2020 socio-demographic context, and is ready for further analysis.

We also print the shape of the merged DataFrame to confirm the number of records and preview the first 30 rows.

In [22]:
covid_with_pm25["Country"] = covid_with_pm25["Country"].str.strip()
sdi_df_2020["Country"] = sdi_df_2020["Country"].str.strip()

covid_sdi_pm25 = pd.merge(covid_with_pm25, sdi_df_2020, on="Country", how="inner")
print(covid_sdi_pm25.shape)
covid_sdi_pm25.head(30)

(191, 7)

C:\Users\hp\AppData\Local\Temp\ipykernel_12760\3837321528.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sdi_df_2020["Country"] = sdi_df_2020["Country"].str.strip()

,Country,COVID_Deaths_Rate,upper,lower,Mean_PM25_2010_2019,Year,SDI_mean_value
0,Spain,5.413404e+01,5.658407e+01,5.143939e+01,10.995,2020,0.766506
1,Belgium,7.419978e+01,7.682945e+01,7.168123e+01,13.595,2020,0.851347
2,Samoa,3.247490e-09,3.247490e-09,3.247490e-09,7.623,2020,0.590075
3,Papua New Guinea,2.144257e+01,4.769251e+01,3.794842e+00,8.645,2020,0.415187
4,Republic of Moldova,6.889802e+01,8.799219e+01,4.823898e+01,14.186,2020,0.727711
5,Maldives,1.716048e+01,2.955523e+01,1.076136e+01,12.867,2020,0.647609
6,Latvia,2.347915e+01,4.879552e+01,1.200567e+01,13.821,2020,0.827900
7,Czechia,5.935351e+01,8.178778e+01,4.008980e+01,17.917,2020,0.826627
8,Zambia,1.976544e+02,2.238873e+02,1.731059e+02,17.213,2020,0.497486
9,Colombia,9.012895e+01,1.107824e+02,6.920020e+01,16.663,2020,0.650855
10,Russian Federation,6.945514e+01,7.928557e+01,6.014636e+01,9.857,2020,0.806011
11,Denmark,1.017076e+01,1.076042e+01,9.527820e+00,10.821,2020,0.894368
12,Lithuania,7.045651e+01,1.005646e+02,4.167469e+01,11.754,2020,0.852752
13,Tonga,5.315239e-09,5.315239e-09,5.315239e-09,7.261,2020,0.622104
14,Myanmar,3.009958e+01,6.079263e+01,1.195681e+01,27.490,2020,0.529435
15,Palau,4.737484e-08,4.737484e-08,4.737484e-08,7.685,2020,0.752781
16,Sweden,3.697111e+01,4.024832e+01,3.365585e+01,6.532,2020,0.885062
17,Solomon Islands,1.972575e-09,1.972575e-09,1.972575e-09,7.658,2020,0.426112
18,Malaysia,1.594046e+00,2.402270e+00,8.478579e-01,21.670,2020,0.738744
19,Bulgaria,1.120807e+02,1.536355e+02,6.360499e+01,21.074,2020,0.765090
20,Lao People's Democratic Republic,1.090001e-10,1.090001e-10,1.090001e-10,21.164,2020,0.484193
21,Iraq,2.391561e+02,2.821035e+02,2.004562e+02,38.738,2020,0.653300
22,Costa Rica,4.169030e+01,5.746337e+01,2.847719e+01,17.674,2020,0.696195
23,France,3.646821e+01,3.859643e+01,3.432648e+01,12.372,2020,0.836049
24,Liberia,1.456066e+02,1.766346e+02,1.279535e+02,35.047,2020,0.348134
25,Botswana,6.926065e+01,7.898153e+01,6.121979e+01,13.088,2020,0.639275
26,Jordan,1.173820e+02,1.512332e+02,7.622885e+01,25.064,2020,0.720068
27,Croatia,4.565950e+01,6.415864e+01,3.047069e+01,18.985,2020,0.795462
28,Guinea,2.265649e+02,2.733443e+02,1.894245e+02,37.827,2020,0.329878
29,Djibouti,2.229352e+02,2.694244e+02,1.711681e+02,20.541,2020,0.481880

### üåç Inspecting Unique Countries in the COVID-19 with PM2.5 Dataset

This step retrieves and prints the list of unique country names in the merged `covid_sdi_pm25` dataset. By examining the distinct country entries, we ensure that the merge was successful and that country name formatting issues (such as extra spaces or inconsistencies) have been properly addressed. This also helps verify the geographic scope of the dataset before proceeding with analysis.

In [23]:
unique_countries = covid_sdi_pm25["Country"].unique()
print(len(unique_countries))
print(unique_countries)

190
['Spain' 'Belgium' 'Samoa' 'Papua New Guinea' 'Republic of Moldova'
 'Maldives' 'Latvia' 'Czechia' 'Zambia' 'Colombia' 'Russian Federation'
 'Denmark' 'Lithuania' 'Tonga' 'Myanmar' 'Palau' 'Sweden'
 'Solomon Islands' 'Malaysia' 'Bulgaria'
 "Lao People's Democratic Republic" 'Iraq' 'Costa Rica' 'France' 'Liberia'
 'Botswana' 'Jordan' 'Croatia' 'Guinea' 'Djibouti' 'Finland'
 'Dominican Republic' 'Comoros' 'Armenia' 'Kuwait' 'Romania' 'Switzerland'
 'Grenada' 'Mali' 'San Marino' 'Eritrea' 'Timor-Leste' 'El Salvador'
 'Afghanistan' 'Sudan' 'Lebanon' 'Israel' 'Brunei Darussalam' 'Montenegro'
 'Guyana' 'Greece' 'South Africa' 'Argentina' 'Sri Lanka' 'Thailand'
 'Bhutan' 'Morocco' 'Iceland' 'Sao Tome and Principe' 'Honduras' 'Jamaica'
 'Lesotho' 'Mauritania' 'Nicaragua' 'Tuvalu' 'Chile' 'Ethiopia' 'Mexico'
 'Uruguay' 'Belarus' 'Mongolia' 'Eswatini' 'Malawi' 'Saint Lucia'
 'Republic of Korea' 'Poland' 'Senegal' 'Ireland' 'Madagascar' 'Niger'
 'Marshall Islands' 'India' 'Saint Vincent and the Grenadines' 'Canada'
 'Kazakhstan' 'Slovakia' 'Panama' 'Fiji' 'Oman' 'Cook Islands'
 'Burkina Faso' 'Pakistan' 'Singapore' 'Luxembourg' 'Norway' 'South Sudan'
 'Zimbabwe' 'Syrian Arab Republic' 'Qatar' 'Australia' 'Kyrgyzstan'
 'Nepal' 'Brazil' 'United States of America' 'Suriname'
 "Democratic People's Republic of Korea" 'Turkmenistan' 'Seychelles'
 'Niue' 'Bahamas' 'Equatorial Guinea' 'Algeria' 'Gambia' 'Kiribati'
 'Malta' 'Somalia' 'Bolivia (Plurinational State of)' 'Mauritius'
 'Cameroon' 'Slovenia' 'Tunisia' 'Albania' 'Cambodia' 'Andorra' 'Paraguay'
 'Central African Republic' 'Uzbekistan' 'Bahrain' 'Angola' 'Barbados'
 'Mozambique' 'Sierra Leone' 'Monaco' 'Ghana' 'Austria' 'Gabon' 'Ecuador'
 'Belize' 'Cabo Verde' 'Peru' 'United Republic of Tanzania' 'Egypt'
 'Indonesia' 'Bosnia and Herzegovina' 'Vanuatu' 'Philippines' 'Cyprus'
 'Cuba' 'Hungary' 'Ukraine' 'Azerbaijan' 'Dominica'
 'Iran (Islamic Republic of)' 'North Macedonia' 'Viet Nam' 'China'
 'Georgia' 'Burundi' 'Germany' 'Guatemala' 'Japan' 'Bangladesh'
 'Guinea-Bissau' 'Haiti' 'Serbia' 'Tajikistan' 'Libya'
 'Micronesia (Federated States of)' 'Namibia' 'Italy' 'New Zealand'
 'Kenya' 'Venezuela (Bolivarian Republic of)' 'Estonia'
 'Trinidad and Tobago' 'Nigeria' 'Antigua and Barbuda' 'Saudi Arabia'
 'Congo' 'Benin' 'Democratic Republic of the Congo' 'Portugal' 'Rwanda'
 'Togo' 'United Arab Emirates' 'Yemen' 'Chad' 'Uganda' 'Nauru'
 'Saint Kitts and Nevis']

### üîç Checking for Duplicate Country Entries in Each Dataset

To ensure the integrity of the merge, we check for duplicate country names in each dataset. This step helps identify whether any dataset contains multiple rows for the same country, which can lead to unintended row multiplication during merging. The number of duplicate entries is printed for the COVID-19 + PM2.5 dataset, the SDI 2020 dataset, and the merged dataset.

In [24]:
print(
    "COVID dataset duplicate countries:", covid_with_pm25["Country"].duplicated().sum()
)
print("SDI dataset duplicate countries:", sdi_df_2020["Country"].duplicated().sum())

print(
    "Merged dataset duplicate countries:", covid_sdi_pm25["Country"].duplicated().sum()
)

COVID dataset duplicate countries: 0
SDI dataset duplicate countries: 4
Merged dataset duplicate countries: 1

### üß¨ Inspecting Duplicates in the SDI 2020 Dataset

Since the SDI dataset is expected to have only one row per country for the year 2020, we inspect and review any duplicate country entries. This step is crucial for preventing many-to-many merges, which can inflate the dataset size and distort results.

In [25]:
dups = sdi_df_2020[sdi_df_2020.duplicated("Country", keep=False)]
print(dups.sort_values("Country"))

                            Country  Year  SDI_mean_value
51552                       Georgia  2020        0.729126
51774                       Georgia  2020        0.844595
51654  North Africa and Middle East  2020        0.651673
51655  North Africa and Middle East  2020        0.651673
51940                        Punjab  2020        0.627706
52248                        Punjab  2020        0.513584
51675                    South Asia  2020        0.550586
51676                    South Asia  2020        0.550586

### üßπ Removing Duplicates from SDI Dataset and Re-Merging

To avoid duplicate matches during the merge, we remove duplicate rows from the SDI 2020 dataset based on the `Country` column. We then re-perform the inner merge with the cleaned SDI data to ensure a one-to-one match between countries. This ensures the final merged dataset is free from unintentional duplication and ready for accurate analysis.

In [26]:
sdi_df_clean = sdi_df_2020.drop_duplicates(subset="Country", keep="first")

In [27]:
final_covid_sdi_pm25 = pd.merge(
    covid_with_pm25, sdi_df_clean, on="Country", how="inner"
)
print("Merged duplicate countries:", final_covid_sdi_pm25["Country"].duplicated().sum())
print(final_covid_sdi_pm25.shape)
final_covid_sdi_pm25.head(30)

Merged duplicate countries: 0
(190, 7)

,Country,COVID_Deaths_Rate,upper,lower,Mean_PM25_2010_2019,Year,SDI_mean_value
0,Spain,5.413404e+01,5.658407e+01,5.143939e+01,10.995,2020,0.766506
1,Belgium,7.419978e+01,7.682945e+01,7.168123e+01,13.595,2020,0.851347
2,Samoa,3.247490e-09,3.247490e-09,3.247490e-09,7.623,2020,0.590075
3,Papua New Guinea,2.144257e+01,4.769251e+01,3.794842e+00,8.645,2020,0.415187
4,Republic of Moldova,6.889802e+01,8.799219e+01,4.823898e+01,14.186,2020,0.727711
5,Maldives,1.716048e+01,2.955523e+01,1.076136e+01,12.867,2020,0.647609
6,Latvia,2.347915e+01,4.879552e+01,1.200567e+01,13.821,2020,0.827900
7,Czechia,5.935351e+01,8.178778e+01,4.008980e+01,17.917,2020,0.826627
8,Zambia,1.976544e+02,2.238873e+02,1.731059e+02,17.213,2020,0.497486
9,Colombia,9.012895e+01,1.107824e+02,6.920020e+01,16.663,2020,0.650855
10,Russian Federation,6.945514e+01,7.928557e+01,6.014636e+01,9.857,2020,0.806011
11,Denmark,1.017076e+01,1.076042e+01,9.527820e+00,10.821,2020,0.894368
12,Lithuania,7.045651e+01,1.005646e+02,4.167469e+01,11.754,2020,0.852752
13,Tonga,5.315239e-09,5.315239e-09,5.315239e-09,7.261,2020,0.622104
14,Myanmar,3.009958e+01,6.079263e+01,1.195681e+01,27.490,2020,0.529435
15,Palau,4.737484e-08,4.737484e-08,4.737484e-08,7.685,2020,0.752781
16,Sweden,3.697111e+01,4.024832e+01,3.365585e+01,6.532,2020,0.885062
17,Solomon Islands,1.972575e-09,1.972575e-09,1.972575e-09,7.658,2020,0.426112
18,Malaysia,1.594046e+00,2.402270e+00,8.478579e-01,21.670,2020,0.738744
19,Bulgaria,1.120807e+02,1.536355e+02,6.360499e+01,21.074,2020,0.765090
20,Lao People's Democratic Republic,1.090001e-10,1.090001e-10,1.090001e-10,21.164,2020,0.484193
21,Iraq,2.391561e+02,2.821035e+02,2.004562e+02,38.738,2020,0.653300
22,Costa Rica,4.169030e+01,5.746337e+01,2.847719e+01,17.674,2020,0.696195
23,France,3.646821e+01,3.859643e+01,3.432648e+01,12.372,2020,0.836049
24,Liberia,1.456066e+02,1.766346e+02,1.279535e+02,35.047,2020,0.348134
25,Botswana,6.926065e+01,7.898153e+01,6.121979e+01,13.088,2020,0.639275
26,Jordan,1.173820e+02,1.512332e+02,7.622885e+01,25.064,2020,0.720068
27,Croatia,4.565950e+01,6.415864e+01,3.047069e+01,18.985,2020,0.795462
28,Guinea,2.265649e+02,2.733443e+02,1.894245e+02,37.827,2020,0.329878
29,Djibouti,2.229352e+02,2.694244e+02,1.711681e+02,20.541,2020,0.481880

### üíæ Exporting the Final Merged Dataset

After cleaning and merging the COVID-19, PM2.5, and SDI 2020 datasets, we export the final version to a CSV file. This step ensures that the processed and ready-to-analyze dataset is saved for future use, reproducibility, and sharing. The file can now be used for statistical modeling, visualization, or further data exploration.

In [ ]:
final_covid_sdi_pm25.to_csv("final_merged_covid_sdi_pm2.5.csv", index=False)