In [1]:
import pandas as pd

In [2]:
covid_raw_df = pd.read_csv("../1_datasets/raw_datasets/covid_deaths_all_countries.csv")
covid_df = covid_raw_df.copy()
covid_df.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,Deaths,Lao People's Democratic Republic,Both,All ages,COVID-19,Rate,2020,6.867837e-11,6.867837e-11,6.867837e-11
1,Deaths,Sri Lanka,Both,All ages,COVID-19,Rate,2020,2.820345e+00,2.820345e+00,2.820345e+00
2,Deaths,Fiji,Both,All ages,COVID-19,Rate,2020,8.084884e+00,1.685940e+01,2.008246e+00
3,Deaths,Samoa,Both,All ages,COVID-19,Rate,2020,2.370317e-09,2.370317e-09,2.370317e-09
4,Deaths,Malaysia,Both,All ages,COVID-19,Rate,2020,1.516114e+00,2.286782e+00,8.061217e-01

In [3]:
print(covid_df.info())
covid_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   measure   204 non-null    object
 1   location  204 non-null    object
 2   sex       204 non-null    object
 3   age       204 non-null    object
 4   cause     204 non-null    object
 5   metric    204 non-null    object
 6   year      204 non-null    int64
 7   val       204 non-null    float64
 8   upper     204 non-null    float64
 9   lower     204 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 16.1+ KB
None

measure     0
location    0
sex         0
age         0
cause       0
metric      0
year        0
val         0
upper       0
lower       0
dtype: int64

In [4]:
covid_df = covid_df.drop(
    ["sex", "measure", "cause", "metric", "year", "age"], axis=1, errors="ignore"
)
covid_df = covid_df.rename(
    columns={"val": "COVID_Deaths_Rate", "location": "Country"}
)
covid_df.head()

,Country,COVID_Deaths_Rate,upper,lower
0,Lao People's Democratic Republic,6.867837e-11,6.867837e-11,6.867837e-11
1,Sri Lanka,2.820345e+00,2.820345e+00,2.820345e+00
2,Fiji,8.084884e+00,1.685940e+01,2.008246e+00
3,Samoa,2.370317e-09,2.370317e-09,2.370317e-09
4,Malaysia,1.516114e+00,2.286782e+00,8.061217e-01

In [5]:
covid_df.shape

(204, 4)

In [14]:
covid_df.to_csv("covid_all_countries_cleaned.csv", index=False)

In [6]:
pm25_raw = pd.read_csv("../1_datasets/raw_datasets/pm25_annual_concentration.csv")
pm25_concentration = pm25_raw.copy()
pm25_concentration.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AFR,Africa,Country,KEN,Kenya,Year,2019,...,NaN,NaN,6.29,NaN,13.74,10.01 [6.29-13.74],NaN,NaN,EN,2022-08-11T21:00:00.000Z
1,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,TTO,Trinidad and Tobago,Year,2019,...,NaN,NaN,7.44,NaN,12.55,10.02 [7.44-12.55],NaN,NaN,EN,2022-08-11T21:00:00.000Z
2,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,EUR,Europe,Country,GBR,United Kingdom of Great Britain and Northern I...,Year,2019,...,NaN,NaN,9.73,NaN,10.39,10.06 [9.73-10.39],NaN,NaN,EN,2022-08-11T21:00:00.000Z
3,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,GRD,Grenada,Year,2019,...,NaN,NaN,7.07,NaN,13.20,10.08 [7.07-13.20],NaN,NaN,EN,2022-08-11T21:00:00.000Z
4,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,BRA,Brazil,Year,2019,...,NaN,NaN,8.23,NaN,12.46,10.09 [8.23-12.46],NaN,NaN,EN,2022-08-11T21:00:00.000Z

In [7]:
pm25_concentration = pm25_concentration.rename(
    columns={
        "Location": "Country",
        "Period": "Year",
        "FactValueNumeric": "PM25 concentration (µg/m³)",
        "Dim1": "Population Category",
        "FactValueNumericLow": "PM25 lower bound",
        "FactValueNumericHigh": "PM25 upper bound",
    }
)

In [8]:
years_to_keep = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
category_to_keep = ["Total"]

pm25_concentration = pm25_concentration[
    pm25_concentration["Year"].isin(years_to_keep)
    & pm25_concentration["Population Category"].isin(category_to_keep)
]
pm25_concentration.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Country,Period type,Year,...,FactValueUoM,FactValueNumericLowPrefix,PM25 lower bound,FactValueNumericHighPrefix,PM25 upper bound,Value,FactValueTranslationID,FactComments,Language,DateModified
3,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,GRD,Grenada,Year,2019,...,NaN,NaN,7.07,NaN,13.20,10.08 [7.07-13.20],NaN,NaN,EN,2022-08-11T21:00:00.000Z
10,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,TTO,Trinidad and Tobago,Year,2019,...,NaN,NaN,7.93,NaN,12.59,10.26 [7.93-12.59],NaN,NaN,EN,2022-08-11T21:00:00.000Z
14,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,EUR,Europe,Country,LTU,Lithuania,Year,2019,...,NaN,NaN,9.29,NaN,11.22,10.37 [9.29-11.22],NaN,NaN,EN,2022-08-11T21:00:00.000Z
22,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,EUR,Europe,Country,FRA,France,Year,2019,...,NaN,NaN,10.27,NaN,10.65,10.46 [10.27-10.65],NaN,NaN,EN,2022-08-11T21:00:00.000Z
23,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AFR,Africa,Country,MUS,Mauritius,Year,2019,...,NaN,NaN,8.25,NaN,12.84,10.48 [8.25-12.84],NaN,NaN,EN,2022-08-11T21:00:00.000Z

In [9]:
pm25_concentration = pm25_concentration.drop(
    [
        "IndicatorCode",
        "Indicator",
        "ValueType",
        "ParentLocationCode",
        "ParentLocation",
        "SpatialDimValueCode",
        "Period type",
        "IsLatestYear",
        "Dim1 type",
        "Dim1ValueCode",
        "Dim2 type",
        "Dim2",
        "Dim2ValueCode",
        "Dim3 type",
        "Dim3",
        "Dim3ValueCode",
        "DataSourceDimValueCode",
        "DataSource",
        "FactValueNumericPrefix",
        "FactValueUoM",
        "FactValueNumericLowPrefix",
        "FactValueNumericHighPrefix",
        "FactValueTranslationID",
        "FactComments",
        "Language",
        "DateModified",
        "Location type",
        "Value",
    ],
    axis=1,
    errors="ignore",
)
print(pm25_concentration.shape)
pm25_concentration.head()

(1950, 6)

,Country,Year,Population Category,PM25 concentration (µg/m³),PM25 lower bound,PM25 upper bound
3,Grenada,2019,Total,10.08,7.07,13.20
10,Trinidad and Tobago,2019,Total,10.26,7.93,12.59
14,Lithuania,2019,Total,10.37,9.29,11.22
22,France,2019,Total,10.46,10.27,10.65
23,Mauritius,2019,Total,10.48,8.25,12.84

In [10]:
print(pm25_concentration.info())
pm25_concentration.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 1950 entries, 3 to 9442
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country                     1950 non-null   object
 1   Year                        1950 non-null   int64
 2   Population Category         1950 non-null   object
 3   PM25 concentration (µg/m³)  1950 non-null   float64
 4   PM25 lower bound            1950 non-null   float64
 5   PM25 upper bound            1950 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 106.6+ KB
None

Country                       0
Year                          0
Population Category           0
PM25 concentration (µg/m³)    0
PM25 lower bound              0
PM25 upper bound              0
dtype: int64

In [11]:
pm25_concentration.reset_index(drop=True)

,Country,Year,Population Category,PM25 concentration (µg/m³),PM25 lower bound,PM25 upper bound
0,Grenada,2019,Total,10.08,7.07,13.20
1,Trinidad and Tobago,2019,Total,10.26,7.93,12.59
2,Lithuania,2019,Total,10.37,9.29,11.22
3,France,2019,Total,10.46,10.27,10.65
4,Mauritius,2019,Total,10.48,8.25,12.84
...,...,...,...,...,...,...
1945,Grenada,2010,Total,9.40,6.33,12.25
1946,Haiti,2010,Total,9.56,5.33,16.77
1947,Trinidad and Tobago,2010,Total,9.79,7.68,12.92
1948,Ireland,2010,Total,9.90,9.25,10.39
1949,Belize,2010,Total,9.91,4.11,20.14

In [13]:
pm25_concentration.to_csv("pm25_all_countries_cleaned.csv", index=False)

In [17]:
pm25_mean = pm25_concentration.groupby("Country", as_index=False)[
    "PM25 concentration (µg/m³)"
].mean()
pm25_mean.rename(
    columns={"PM25 concentration (µg/m³)": "Mean_PM25_2010_2019"}, inplace=True
)
print(pm25_mean.shape)
pm25_mean.head()

(195, 2)

       Country  Mean_PM25_2010_2019
0  Afghanistan               67.013
1      Albania               19.773
2      Algeria               22.371
3      Andorra                9.943
4       Angola               25.109

In [18]:
pm25_mean.to_csv("pm25_average_concentration.csv", index= False)

In [21]:
pm25_mean["Country"] = pm25_mean["Country"].str.strip()
covid_df["Country"] = covid_df["Country"].str.strip()

covid_with_pm25 = pd.merge(covid_df, pm25_mean, on="Country", how="inner")
print(covid_with_pm25.shape)
covid_with_pm25.head(20)

(190, 5)

,Country,COVID_Deaths_Rate,upper,lower,Mean_PM25_2010_2019
0,Lao People's Democratic Republic,6.867837e-11,6.867837e-11,6.867837e-11,21.164
1,Sri Lanka,2.820345e+00,2.820345e+00,2.820345e+00,23.948
2,Fiji,8.084884e+00,1.685940e+01,2.008246e+00,7.272
3,Samoa,2.370317e-09,2.370317e-09,2.370317e-09,7.623
4,Malaysia,1.516114e+00,2.286782e+00,8.061217e-01,21.670
5,Solomon Islands,7.456992e-10,7.456992e-10,7.456992e-10,7.658
6,Thailand,1.105947e+00,2.257215e+00,2.548063e-01,24.884
7,Grenada,4.847487e-09,4.847487e-09,4.847487e-09,10.128
8,Tonga,4.714003e-09,4.714003e-09,4.714003e-09,7.261
9,Maldives,1.034426e+01,1.773338e+01,6.423306e+00,12.867
10,Myanmar,2.265547e+01,4.573871e+01,9.002056e+00,27.490
11,Belgium,1.721926e+02,1.778256e+02,1.667153e+02,13.595
12,Armenia,1.812200e+02,2.313051e+02,1.256314e+02,40.628
13,Saint Lucia,2.133878e+01,3.696296e+01,9.356543e+00,9.093
14,Kiribati,4.178079e-09,4.178079e-09,4.178079e-09,7.551
15,El Salvador,7.354820e+01,8.633220e+01,6.095876e+01,26.182
16,Saint Vincent and the Grenadines,1.587699e-03,2.502704e-03,8.516373e-04,9.534
17,Mongolia,4.080975e-02,7.764153e-02,1.789559e-02,47.101
18,Timor-Leste,3.651418e-10,3.651418e-10,3.651418e-10,20.169
19,Bolivia (Plurinational State of),2.804516e+02,3.196691e+02,2.332168e+02,26.105

In [22]:
unique_countries = covid_with_pm25["Country"].unique()
print(unique_countries)

["Lao People's Democratic Republic" 'Sri Lanka' 'Fiji' 'Samoa' 'Malaysia'
 'Solomon Islands' 'Thailand' 'Grenada' 'Tonga' 'Maldives' 'Myanmar'
 'Belgium' 'Armenia' 'Saint Lucia' 'Kiribati' 'El Salvador'
 'Saint Vincent and the Grenadines' 'Mongolia' 'Timor-Leste'
 'Bolivia (Plurinational State of)' 'France' 'Panama' 'Kyrgyzstan'
 'Albania' 'Paraguay' 'Marshall Islands' 'Uzbekistan' 'Israel' 'Egypt'
 'Norway' 'Papua New Guinea' 'Kazakhstan' 'Turkmenistan' 'China' 'Latvia'
 'Republic of Korea' 'Singapore' 'Nauru' 'Liberia' 'Bhutan' 'San Marino'
 "Democratic People's Republic of Korea" 'Bulgaria' 'Denmark' 'Spain'
 'Dominican Republic' 'Colombia' 'Iraq' 'Argentina' 'Canada' 'Bahamas'
 'Zambia' 'Comoros' 'Sao Tome and Principe' 'Equatorial Guinea' 'Niue'
 'Montenegro' 'Greece' 'Jamaica' 'Honduras' 'South Africa' 'Madagascar'
 'Jordan' 'Mexico' 'Iceland' 'Slovakia' 'Luxembourg' 'Morocco' 'Croatia'
 'Burkina Faso' 'Lithuania' 'Seychelles' 'Finland' 'Sweden' 'Costa Rica'
 'Kuwait' 'India' 'Djibouti' 'Algeria' 'Syrian Arab Republic' 'Palau'
 'Botswana' 'Mali' 'Gambia' 'Indonesia' 'Vanuatu' 'Bosnia and Herzegovina'
 'Cyprus' 'Cuba' 'Iran (Islamic Republic of)' 'Ethiopia' 'Lesotho'
 'Cambodia' 'Switzerland' 'Guyana' 'Sudan' 'Cook Islands' 'Afghanistan'
 'Republic of Moldova' 'Guinea' 'Czechia' 'Lebanon' 'Ukraine' 'Guatemala'
 'Bangladesh' 'Burundi' 'Namibia' 'Guinea-Bissau' 'Saint Kitts and Nevis'
 'Nepal' 'Eritrea' 'Andorra' 'Ireland' 'Chile' 'Nicaragua' 'Eswatini'
 'Senegal' 'Poland' 'Romania' 'Mauritius' 'Zimbabwe' 'Philippines'
 'Azerbaijan' 'Russian Federation' 'Mauritania' 'Oman' 'Pakistan' 'Monaco'
 'Hungary' 'Tuvalu' 'Uruguay' 'Germany' 'Antigua and Barbuda' 'Dominica'
 'Venezuela (Bolivarian Republic of)' 'Libya' 'Congo' 'Suriname' 'Japan'
 'Kenya' 'Benin' 'Nigeria' 'Georgia' 'Viet Nam' 'South Sudan' 'Belarus'
 'Tunisia' 'Angola' 'Belize' 'Malawi' 'Mozambique' 'Cabo Verde' 'Cameroon'
 'Niger' 'Brunei Darussalam' 'Qatar' 'Central African Republic'
 'North Macedonia' 'Haiti' 'Democratic Republic of the Congo' 'Italy'
 'Saudi Arabia' 'Slovenia' 'United States of America' 'Malta' 'Brazil'
 'Ecuador' 'Rwanda' 'New Zealand' 'Togo' 'Chad'
 'United Republic of Tanzania' 'Sierra Leone' 'Tajikistan' 'Ghana'
 'Barbados' 'Bahrain' 'Gabon' 'Somalia' 'Australia'
 'Micronesia (Federated States of)' 'Peru' 'Serbia' 'Portugal'
 'Trinidad and Tobago' 'United Arab Emirates' 'Uganda' 'Austria' 'Yemen'
 'Estonia']

In [26]:
raw_sdi_data = pd.read_csv(
    "../1_datasets/raw_datasets/sdi_by_country_year_2010_2019.csv"
)
sdi_df = raw_sdi_data.copy()
sdi_df.head()

,covariate_name_short,location_id,location_name,year_id,age_group_id,age_group_name,sex_id,sex,mean_value,lower_value,upper_value
0,sdi,1,Global,1950,22,All Ages,3,Both,0.369235,0.369235,0.369235
1,sdi,4,"Southeast Asia, East Asia, and Oceania",1950,22,All Ages,3,Both,0.205729,0.205729,0.205729
2,sdi,5,East Asia,1950,22,All Ages,3,Both,0.193972,0.193972,0.193972
3,sdi,6,China,1950,22,All Ages,3,Both,0.184144,0.184144,0.184144
4,sdi,7,Democratic People's Republic of Korea,1950,22,All Ages,3,Both,0.323069,0.323069,0.323069

In [27]:
sdi_df = sdi_df.drop(
    [
        "covariate_name_short",
        "location_id",
        "age_group_id",
        "age_group_name",
        "sex_id",
        "sex",
        "lower_value",
        "upper_value",
    ],
    axis=1,
    errors="ignore",
)
sdi_df = sdi_df.rename(
    columns={
        "location_name": "Country",
        "year_id": "Year",
        "mean_value": "SDI_mean_value",
    }
)
print(sdi_df.shape)
sdi_df.head()

(52992, 3)

                                  Country  Year  SDI_mean_value
0                                  Global  1950        0.369235
1  Southeast Asia, East Asia, and Oceania  1950        0.205729
2                               East Asia  1950        0.193972
3                                   China  1950        0.184144
4   Democratic People's Republic of Korea  1950        0.323069

In [28]:
years_to_keep = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

sdi_df_2010_2019 = sdi_df[sdi_df["Year"].isin(years_to_keep)]
sdi_df_2010_2019.reset_index(drop=True)
print(sdi_df_2010_2019.shape)
sdi_df_2010_2019.head(15)

(7360, 3)

                                      Country  Year  SDI_mean_value
44160                                  Global  2010        0.612952
44161  Southeast Asia, East Asia, and Oceania  2010        0.628144
44162                               East Asia  2010        0.647985
44163                                   China  2010        0.641521
44164   Democratic People's Republic of Korea  2010        0.537193
44165              Taiwan (Province of China)  2010        0.827227
44166                          Southeast Asia  2010        0.584268
44167                                Cambodia  2010        0.410211
44168                               Indonesia  2010        0.585982
44169        Lao People's Democratic Republic  2010        0.414866
44170                                Malaysia  2010        0.688259
44171                                Maldives  2010        0.581981
44172                                 Myanmar  2010        0.460180
44173                             Philippines  2010        0.571766
44174                               Sri Lanka  2010        0.634263

In [29]:
sdi_df_2010_2019.reset_index(drop=True)

                                     Country  Year  SDI_mean_value
0                                     Global  2010        0.612952
1     Southeast Asia, East Asia, and Oceania  2010        0.628144
2                                  East Asia  2010        0.647985
3                                      China  2010        0.641521
4      Democratic People's Republic of Korea  2010        0.537193
...                                      ...   ...             ...
7355                                   Agder  2019        0.904361
7356                    Vestfold og Telemark  2019        0.903947
7357                               Innlandet  2019        0.895982
7358                                   Viken  2019        0.911227
7359                       Troms og Finnmark  2019        0.900550

[7360 rows x 3 columns]

In [30]:
sdi_df_2010_2019.to_csv("sdi_data_2010_2019_cleaned.csv", index= False)

In [31]:
years_to_keep = [2020]
sdi_df_2020 = sdi_df[sdi_df["Year"].isin(years_to_keep)]
print(sdi_df_2020.shape)
sdi_df_2020.head(15)

(736, 3)

                                      Country  Year  SDI_mean_value
51520                                  Global  2020        0.661344
51521  Southeast Asia, East Asia, and Oceania  2020        0.692215
51522                               East Asia  2020        0.717709
51523                                   China  2020        0.713365
51524   Democratic People's Republic of Korea  2020        0.568189
51525              Taiwan (Province of China)  2020        0.871248
51526                          Southeast Asia  2020        0.645070
51527                                Cambodia  2020        0.468876
51528                               Indonesia  2020        0.651927
51529        Lao People's Democratic Republic  2020        0.484193
51530                                Malaysia  2020        0.738744
51531                                Maldives  2020        0.647609
51532                                 Myanmar  2020        0.529435
51533                             Philippines  2020        0.644867
51534                               Sri Lanka  2020        0.697649

In [32]:
sdi_df_2020.reset_index(drop=True)

                                    Country  Year  SDI_mean_value
0                                    Global  2020        0.661344
1    Southeast Asia, East Asia, and Oceania  2020        0.692215
2                                 East Asia  2020        0.717709
3                                     China  2020        0.713365
4     Democratic People's Republic of Korea  2020        0.568189
..                                      ...   ...             ...
731                                   Agder  2020        0.906183
732                    Vestfold og Telemark  2020        0.905871
733                               Innlandet  2020        0.898081
734                                   Viken  2020        0.913234
735                       Troms og Finnmark  2020        0.903265

[736 rows x 3 columns]

In [33]:
sdi_df_2020.drop(
    ["Year"],
    axis=1,
    errors="ignore",
)

                                      Country  SDI_mean_value
51520                                  Global        0.661344
51521  Southeast Asia, East Asia, and Oceania        0.692215
51522                               East Asia        0.717709
51523                                   China        0.713365
51524   Democratic People's Republic of Korea        0.568189
...                                       ...             ...
52251                                   Agder        0.906183
52252                    Vestfold og Telemark        0.905871
52253                               Innlandet        0.898081
52254                                   Viken        0.913234
52255                       Troms og Finnmark        0.903265

[736 rows x 2 columns]

In [34]:
sdi_df_2020.reset_index(drop=True)

                                    Country  Year  SDI_mean_value
0                                    Global  2020        0.661344
1    Southeast Asia, East Asia, and Oceania  2020        0.692215
2                                 East Asia  2020        0.717709
3                                     China  2020        0.713365
4     Democratic People's Republic of Korea  2020        0.568189
..                                      ...   ...             ...
731                                   Agder  2020        0.906183
732                    Vestfold og Telemark  2020        0.905871
733                               Innlandet  2020        0.898081
734                                   Viken  2020        0.913234
735                       Troms og Finnmark  2020        0.903265

[736 rows x 3 columns]

In [35]:
covid_with_pm25["Country"] = covid_with_pm25["Country"].str.strip()
sdi_df_2020["Country"] = sdi_df_2020["Country"].str.strip()

covid_sdi_pm25 = pd.merge(covid_with_pm25, sdi_df_2020, on="Country", how="inner")
print(covid_sdi_pm25.shape)
covid_sdi_pm25.head(30)

(191, 7)

C:\Users\hp\AppData\Local\Temp\ipykernel_15760\3837321528.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sdi_df_2020["Country"] = sdi_df_2020["Country"].str.strip()

,Country,COVID_Deaths_Rate,upper,lower,Mean_PM25_2010_2019,Year,SDI_mean_value
0,Lao People's Democratic Republic,6.867837e-11,6.867837e-11,6.867837e-11,21.164,2020,0.484193
1,Sri Lanka,2.820345e+00,2.820345e+00,2.820345e+00,23.948,2020,0.697649
2,Fiji,8.084884e+00,1.685940e+01,2.008246e+00,7.272,2020,0.671431
3,Samoa,2.370317e-09,2.370317e-09,2.370317e-09,7.623,2020,0.590075
4,Malaysia,1.516114e+00,2.286782e+00,8.061217e-01,21.670,2020,0.738744
5,Solomon Islands,7.456992e-10,7.456992e-10,7.456992e-10,7.658,2020,0.426112
6,Thailand,1.105947e+00,2.257215e+00,2.548063e-01,24.884,2020,0.679120
7,Grenada,4.847487e-09,4.847487e-09,4.847487e-09,10.128,2020,0.665086
8,Tonga,4.714003e-09,4.714003e-09,4.714003e-09,7.261,2020,0.622104
9,Maldives,1.034426e+01,1.773338e+01,6.423306e+00,12.867,2020,0.647609
10,Myanmar,2.265547e+01,4.573871e+01,9.002056e+00,27.490,2020,0.529435
11,Belgium,1.721926e+02,1.778256e+02,1.667153e+02,13.595,2020,0.851347
12,Armenia,1.812200e+02,2.313051e+02,1.256314e+02,40.628,2020,0.698269
13,Saint Lucia,2.133878e+01,3.696296e+01,9.356543e+00,9.093,2020,0.669720
14,Kiribati,4.178079e-09,4.178079e-09,4.178079e-09,7.551,2020,0.523454
15,El Salvador,7.354820e+01,8.633220e+01,6.095876e+01,26.182,2020,0.558920
16,Saint Vincent and the Grenadines,1.587699e-03,2.502704e-03,8.516373e-04,9.534,2020,0.632861
17,Mongolia,4.080975e-02,7.764153e-02,1.789559e-02,47.101,2020,0.614630
18,Timor-Leste,3.651418e-10,3.651418e-10,3.651418e-10,20.169,2020,0.442349
19,Bolivia (Plurinational State of),2.804516e+02,3.196691e+02,2.332168e+02,26.105,2020,0.594854
20,France,8.434890e+01,8.923542e+01,7.948955e+01,12.372,2020,0.836049
21,Panama,1.145024e+02,1.438164e+02,8.654503e+01,13.960,2020,0.703788
22,Kyrgyzstan,8.548278e+01,1.057794e+02,6.102470e+01,44.673,2020,0.600500
23,Albania,1.310216e+02,2.100336e+02,5.420531e+01,19.773,2020,0.703790
24,Paraguay,3.359036e+01,5.084434e+01,1.934108e+01,14.299,2020,0.631058
25,Marshall Islands,8.911156e-09,8.911156e-09,8.911156e-09,7.151,2020,0.568838
26,Uzbekistan,4.951084e+01,7.003995e+01,2.404616e+01,48.643,2020,0.659124
27,Israel,3.522422e+01,3.704231e+01,3.353923e+01,21.337,2020,0.806352
28,Egypt,6.819288e+01,9.014021e+01,4.707465e+01,61.554,2020,0.597363
29,Norway,8.098330e+00,8.696066e+00,7.563147e+00,6.940,2020,0.914530

In [36]:
unique_countries = covid_with_pm25["Country"].unique()
print(unique_countries)

["Lao People's Democratic Republic" 'Sri Lanka' 'Fiji' 'Samoa' 'Malaysia'
 'Solomon Islands' 'Thailand' 'Grenada' 'Tonga' 'Maldives' 'Myanmar'
 'Belgium' 'Armenia' 'Saint Lucia' 'Kiribati' 'El Salvador'
 'Saint Vincent and the Grenadines' 'Mongolia' 'Timor-Leste'
 'Bolivia (Plurinational State of)' 'France' 'Panama' 'Kyrgyzstan'
 'Albania' 'Paraguay' 'Marshall Islands' 'Uzbekistan' 'Israel' 'Egypt'
 'Norway' 'Papua New Guinea' 'Kazakhstan' 'Turkmenistan' 'China' 'Latvia'
 'Republic of Korea' 'Singapore' 'Nauru' 'Liberia' 'Bhutan' 'San Marino'
 "Democratic People's Republic of Korea" 'Bulgaria' 'Denmark' 'Spain'
 'Dominican Republic' 'Colombia' 'Iraq' 'Argentina' 'Canada' 'Bahamas'
 'Zambia' 'Comoros' 'Sao Tome and Principe' 'Equatorial Guinea' 'Niue'
 'Montenegro' 'Greece' 'Jamaica' 'Honduras' 'South Africa' 'Madagascar'
 'Jordan' 'Mexico' 'Iceland' 'Slovakia' 'Luxembourg' 'Morocco' 'Croatia'
 'Burkina Faso' 'Lithuania' 'Seychelles' 'Finland' 'Sweden' 'Costa Rica'
 'Kuwait' 'India' 'Djibouti' 'Algeria' 'Syrian Arab Republic' 'Palau'
 'Botswana' 'Mali' 'Gambia' 'Indonesia' 'Vanuatu' 'Bosnia and Herzegovina'
 'Cyprus' 'Cuba' 'Iran (Islamic Republic of)' 'Ethiopia' 'Lesotho'
 'Cambodia' 'Switzerland' 'Guyana' 'Sudan' 'Cook Islands' 'Afghanistan'
 'Republic of Moldova' 'Guinea' 'Czechia' 'Lebanon' 'Ukraine' 'Guatemala'
 'Bangladesh' 'Burundi' 'Namibia' 'Guinea-Bissau' 'Saint Kitts and Nevis'
 'Nepal' 'Eritrea' 'Andorra' 'Ireland' 'Chile' 'Nicaragua' 'Eswatini'
 'Senegal' 'Poland' 'Romania' 'Mauritius' 'Zimbabwe' 'Philippines'
 'Azerbaijan' 'Russian Federation' 'Mauritania' 'Oman' 'Pakistan' 'Monaco'
 'Hungary' 'Tuvalu' 'Uruguay' 'Germany' 'Antigua and Barbuda' 'Dominica'
 'Venezuela (Bolivarian Republic of)' 'Libya' 'Congo' 'Suriname' 'Japan'
 'Kenya' 'Benin' 'Nigeria' 'Georgia' 'Viet Nam' 'South Sudan' 'Belarus'
 'Tunisia' 'Angola' 'Belize' 'Malawi' 'Mozambique' 'Cabo Verde' 'Cameroon'
 'Niger' 'Brunei Darussalam' 'Qatar' 'Central African Republic'
 'North Macedonia' 'Haiti' 'Democratic Republic of the Congo' 'Italy'
 'Saudi Arabia' 'Slovenia' 'United States of America' 'Malta' 'Brazil'
 'Ecuador' 'Rwanda' 'New Zealand' 'Togo' 'Chad'
 'United Republic of Tanzania' 'Sierra Leone' 'Tajikistan' 'Ghana'
 'Barbados' 'Bahrain' 'Gabon' 'Somalia' 'Australia'
 'Micronesia (Federated States of)' 'Peru' 'Serbia' 'Portugal'
 'Trinidad and Tobago' 'United Arab Emirates' 'Uganda' 'Austria' 'Yemen'
 'Estonia']

In [37]:
print(
    "COVID dataset duplicate countries:", covid_with_pm25["Country"].duplicated().sum()
)
print("SDI dataset duplicate countries:", sdi_df_2020["Country"].duplicated().sum())

print(
    "Merged dataset duplicate countries:", covid_sdi_pm25["Country"].duplicated().sum()
)

COVID dataset duplicate countries: 0
SDI dataset duplicate countries: 4
Merged dataset duplicate countries: 1

In [38]:
dups = sdi_df_2020[sdi_df_2020.duplicated("Country", keep=False)]
print(dups.sort_values("Country"))

                            Country  Year  SDI_mean_value
51552                       Georgia  2020        0.729126
51774                       Georgia  2020        0.844595
51654  North Africa and Middle East  2020        0.651673
51655  North Africa and Middle East  2020        0.651673
51940                        Punjab  2020        0.627706
52248                        Punjab  2020        0.513584
51675                    South Asia  2020        0.550586
51676                    South Asia  2020        0.550586

In [43]:
sdi_df_clean = sdi_df_2020.drop_duplicates(subset="Country", keep="first")

In [44]:
final_covid_sdi_pm25 = pd.merge(
    covid_with_pm25, sdi_df_clean, on="Country", how="inner"
)
print("Merged duplicate countries:", final_covid_sdi_pm25["Country"].duplicated().sum())
print(final_covid_sdi_pm25.shape)
final_covid_sdi_pm25.head(30)

Merged duplicate countries: 0
(190, 7)

,Country,COVID_Deaths_Rate,upper,lower,Mean_PM25_2010_2019,Year,SDI_mean_value
0,Lao People's Democratic Republic,6.867837e-11,6.867837e-11,6.867837e-11,21.164,2020,0.484193
1,Sri Lanka,2.820345e+00,2.820345e+00,2.820345e+00,23.948,2020,0.697649
2,Fiji,8.084884e+00,1.685940e+01,2.008246e+00,7.272,2020,0.671431
3,Samoa,2.370317e-09,2.370317e-09,2.370317e-09,7.623,2020,0.590075
4,Malaysia,1.516114e+00,2.286782e+00,8.061217e-01,21.670,2020,0.738744
5,Solomon Islands,7.456992e-10,7.456992e-10,7.456992e-10,7.658,2020,0.426112
6,Thailand,1.105947e+00,2.257215e+00,2.548063e-01,24.884,2020,0.679120
7,Grenada,4.847487e-09,4.847487e-09,4.847487e-09,10.128,2020,0.665086
8,Tonga,4.714003e-09,4.714003e-09,4.714003e-09,7.261,2020,0.622104
9,Maldives,1.034426e+01,1.773338e+01,6.423306e+00,12.867,2020,0.647609
10,Myanmar,2.265547e+01,4.573871e+01,9.002056e+00,27.490,2020,0.529435
11,Belgium,1.721926e+02,1.778256e+02,1.667153e+02,13.595,2020,0.851347
12,Armenia,1.812200e+02,2.313051e+02,1.256314e+02,40.628,2020,0.698269
13,Saint Lucia,2.133878e+01,3.696296e+01,9.356543e+00,9.093,2020,0.669720
14,Kiribati,4.178079e-09,4.178079e-09,4.178079e-09,7.551,2020,0.523454
15,El Salvador,7.354820e+01,8.633220e+01,6.095876e+01,26.182,2020,0.558920
16,Saint Vincent and the Grenadines,1.587699e-03,2.502704e-03,8.516373e-04,9.534,2020,0.632861
17,Mongolia,4.080975e-02,7.764153e-02,1.789559e-02,47.101,2020,0.614630
18,Timor-Leste,3.651418e-10,3.651418e-10,3.651418e-10,20.169,2020,0.442349
19,Bolivia (Plurinational State of),2.804516e+02,3.196691e+02,2.332168e+02,26.105,2020,0.594854
20,France,8.434890e+01,8.923542e+01,7.948955e+01,12.372,2020,0.836049
21,Panama,1.145024e+02,1.438164e+02,8.654503e+01,13.960,2020,0.703788
22,Kyrgyzstan,8.548278e+01,1.057794e+02,6.102470e+01,44.673,2020,0.600500
23,Albania,1.310216e+02,2.100336e+02,5.420531e+01,19.773,2020,0.703790
24,Paraguay,3.359036e+01,5.084434e+01,1.934108e+01,14.299,2020,0.631058
25,Marshall Islands,8.911156e-09,8.911156e-09,8.911156e-09,7.151,2020,0.568838
26,Uzbekistan,4.951084e+01,7.003995e+01,2.404616e+01,48.643,2020,0.659124
27,Israel,3.522422e+01,3.704231e+01,3.353923e+01,21.337,2020,0.806352
28,Egypt,6.819288e+01,9.014021e+01,4.707465e+01,61.554,2020,0.597363
29,Norway,8.098330e+00,8.696066e+00,7.563147e+00,6.940,2020,0.914530

In [ ]:
final_covid_sdi_pm25.to_csv("final_merged_covid.csv", index=False)