## COVID-19 Mortality Data (2020‚Äì2021)

To explore the potential long-term health impacts of air pollution, we use IHME estimates of COVID-19 mortality for 2020 and 2021.

---

### üì¶ Import Required Pandas Library

In [1]:
import pandas as pd

### üìÅ loading the dataset

from the CSV raw file, and making a copy for the cleaned to be dataset
and preview the first few rows.

In [2]:
raw_data = pd.read_csv("../1_datasets/raw_datasets/covid_deaths.csv")
cleaned_death_data = raw_data.copy()
cleaned_death_data.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,Deaths,Spain,Both,All ages,COVID-19,Percent,2020,0.125091,0.130679,0.118814
1,Deaths,Spain,Both,All ages,COVID-19,Rate,2020,132.948639,139.131075,126.395299
2,Deaths,Spain,Both,15-49 years,COVID-19,Percent,2020,0.148088,0.156547,0.139678
3,Deaths,Spain,Both,15-49 years,COVID-19,Rate,2020,10.472981,11.087217,9.876074
4,Deaths,Fiji,Both,All ages,COVID-19,Percent,2021,0.121380,0.234511,0.063697

### üßæ Initial Column Inspection
We inspect:
- Full list of column names
- Identify metadata columns 
- Identify unnecessary columns

In [3]:
cleaned_death_data.columns

Index(['measure', 'location', 'sex', 'age', 'cause', 'metric', 'year', 'val',
       'upper', 'lower'],
      dtype='object')

In [3]:
# checking initial rows and columns number
cleaned_death_data.shape

(200, 10)

### üîç Summary Statistics & Missing Data

- Check `.info()` for data types and nulls
- Use `.isnull().sum()` to count missing values

In [4]:
cleaned_death_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   measure   200 non-null    object
 1   location  200 non-null    object
 2   sex       200 non-null    object
 3   age       200 non-null    object
 4   cause     200 non-null    object
 5   metric    200 non-null    object
 6   year      200 non-null    int64
 7   val       200 non-null    float64
 8   upper     200 non-null    float64
 9   lower     200 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 15.8+ KB

In [5]:
cleaned_death_data.isnull().sum()

measure     0
location    0
sex         0
age         0
cause       0
metric      0
year        0
val         0
upper       0
lower       0
dtype: int64

### üßπ Column Renaming and Dropping
Drop columns:
- Drop columns not needed for analysis

Rename columns:
- Standardize names

In [6]:
cleaned_death_data = cleaned_death_data.drop(
    ["sex", "measure", "cause"], axis=1, errors="ignore"
)
cleaned_death_data = cleaned_death_data.rename(
    columns={"val": "COVID Deaths Val", "location": "Country"}
)
cleaned_death_data.head()

,Country,age,metric,year,COVID Deaths Val,upper,lower
0,Spain,All ages,Percent,2020,0.125091,0.130679,0.118814
1,Spain,All ages,Rate,2020,132.948639,139.131075,126.395299
2,Spain,15-49 years,Percent,2020,0.148088,0.156547,0.139678
3,Spain,15-49 years,Rate,2020,10.472981,11.087217,9.876074
4,Fiji,All ages,Percent,2021,0.121380,0.234511,0.063697

### üéØ Filtering by Country

To ensure data consistency and focus our analysis on relevant entries, we applied filters using the `isin()` method

In [7]:
countries_to_keep = [
    "Egypt",
    "India",
    "United States of America",
    "Chile",
    "Nigeria",
    "Italy",
    "China",
    "Japan",
    "Afghanistan",
    "Germany",
    "Russian Federation",
    "Spain",
    "Romania",
    "Indonesia",
    "Saudi Arabia",
    "Bangladesh",
    "Republic of Korea",
    "South Africa",
    "Ethiopia",
    "Kenya",
    "Brazil",
    "Mexico",
    "Canada",
    "Australia",
    "Fiji",
]

cleaned_death_data = cleaned_death_data[
    cleaned_death_data["Country"].isin(countries_to_keep)
]
cleaned_death_data.head(26)

,Country,age,metric,year,COVID Deaths Val,upper,lower
0,Spain,All ages,Percent,2020,0.125091,0.130679,0.118814
1,Spain,All ages,Rate,2020,132.948639,139.131075,126.395299
2,Spain,15-49 years,Percent,2020,0.148088,0.156547,0.139678
3,Spain,15-49 years,Rate,2020,10.472981,11.087217,9.876074
4,Fiji,All ages,Percent,2021,0.121380,0.234511,0.063697
5,Fiji,All ages,Rate,2021,124.301052,246.763477,75.311090
6,Fiji,15-49 years,Percent,2021,0.123064,0.236029,0.064148
7,Fiji,15-49 years,Rate,2021,38.868283,77.220136,23.558042
8,Indonesia,All ages,Percent,2020,0.046378,0.091085,0.015115
9,Indonesia,All ages,Rate,2020,32.667317,67.054381,10.621372
10,Indonesia,15-49 years,Percent,2020,0.049906,0.096787,0.016150
11,Indonesia,15-49 years,Rate,2020,10.159491,20.825411,3.318329
12,China,All ages,Percent,2021,0.000092,0.000332,0.000007
13,China,All ages,Rate,2021,0.074704,0.282800,0.006005
14,China,15-49 years,Percent,2021,0.000047,0.000163,0.000004
15,China,15-49 years,Rate,2021,0.005552,0.020053,0.000437
16,Australia,All ages,Percent,2021,0.019511,0.022927,0.015796
17,Australia,All ages,Rate,2021,13.253704,15.534149,10.739787
18,Australia,15-49 years,Percent,2021,0.017440,0.020472,0.014142
19,Australia,15-49 years,Rate,2021,1.430555,1.676678,1.159229
20,Spain,All ages,Percent,2021,0.087743,0.090865,0.084108
21,Spain,All ages,Rate,2021,85.816866,88.698227,82.584882
22,Spain,15-49 years,Percent,2021,0.124455,0.130048,0.118479
23,Spain,15-49 years,Rate,2021,8.807386,9.211047,8.408361
24,Mexico,All ages,Percent,2020,0.251190,0.301093,0.204565
25,Mexico,All ages,Rate,2020,212.122870,254.596607,172.992768

### Filter data for Rate metric, year 2020, and age 15‚Äì49 years

We keep only rows where:
- `metric` = **"Rate"**
- `year` = **2020**
- `age` = **"15‚Äì49 years"**

This focuses the analysis on younger adults, to explore if factors like PM2.5 exposure explain higher COVID-19 mortality beyond age-related vulnerability.

In [11]:
df_cleaned_death_data = cleaned_death_data[
    (cleaned_death_data["metric"] == "Rate")
    & (cleaned_death_data["year"] == 2020)
    & (cleaned_death_data["age"] == "15-49 years")
]
print(df_cleaned_death_data)

                      Country          age metric  year  COVID Deaths Val  \
3                       Spain  15-49 years   Rate  2020         10.472981
11                  Indonesia  15-49 years   Rate  2020         10.159491
27                     Mexico  15-49 years   Rate  2020         57.019696
31         Russian Federation  15-49 years   Rate  2020         18.195048
35                      Chile  15-49 years   Rate  2020         17.427140
39                Afghanistan  15-49 years   Rate  2020         67.643147
43               South Africa  15-49 years   Rate  2020         54.933363
47                 Bangladesh  15-49 years   Rate  2020         18.638962
59                     Canada  15-49 years   Rate  2020         11.392234
63                      India  15-49 years   Rate  2020         18.618172
71          Republic of Korea  15-49 years   Rate  2020          0.239668
79                   Ethiopia  15-49 years   Rate  2020         24.108446
83                    Nigeria  15-49 years   Rate  2020         18.018582
87                       Fiji  15-49 years   Rate  2020          2.641567
99                    Germany  15-49 years   Rate  2020          3.468349
111  United States of America  15-49 years   Rate  2020         33.359688
115                     Kenya  15-49 years   Rate  2020         42.762396
119                     Japan  15-49 years   Rate  2020          0.189647
139                 Australia  15-49 years   Rate  2020          0.231634
143                    Brazil  15-49 years   Rate  2020         21.901328
151                   Romania  15-49 years   Rate  2020         18.023526
163                     Italy  15-49 years   Rate  2020          8.201799
175              Saudi Arabia  15-49 years   Rate  2020         17.390042
183                     China  15-49 years   Rate  2020          0.306865
199                     Egypt  15-49 years   Rate  2020         26.043847

         upper      lower
3    11.087217   9.876074
11   20.825411   3.318329
27   70.946973  44.181729
31   22.069367  14.809403
35   18.275500  16.582775
39   90.454679  51.068891
43   54.955219  54.898359
47   25.122020  15.987977
59   12.087162  10.701911
63   19.671096  17.520649
71    0.378687   0.155330
79   26.069180  22.386505
83   19.728042  16.611754
87    5.517765   0.654506
99    3.876612   3.187289
111  34.663460  32.058489
115  46.483915  39.448608
119   0.211685   0.170640
139   0.243760   0.217310
143  23.845813  20.234796
151  26.292571  10.591084
163   8.677592   7.719720
175  20.610325  13.677623
183   1.600954   0.069869
199  34.426903  17.968110

In [12]:
df_cleaned_death_data.reset_index(drop=True)

,Country,age,metric,year,COVID Deaths Val,upper,lower
0,Spain,15-49 years,Rate,2020,10.472981,11.087217,9.876074
1,Indonesia,15-49 years,Rate,2020,10.159491,20.825411,3.318329
2,Mexico,15-49 years,Rate,2020,57.019696,70.946973,44.181729
3,Russian Federation,15-49 years,Rate,2020,18.195048,22.069367,14.809403
4,Chile,15-49 years,Rate,2020,17.427140,18.275500,16.582775
5,Afghanistan,15-49 years,Rate,2020,67.643147,90.454679,51.068891
6,South Africa,15-49 years,Rate,2020,54.933363,54.955219,54.898359
7,Bangladesh,15-49 years,Rate,2020,18.638962,25.122020,15.987977
8,Canada,15-49 years,Rate,2020,11.392234,12.087162,10.701911
9,India,15-49 years,Rate,2020,18.618172,19.671096,17.520649
10,Republic of Korea,15-49 years,Rate,2020,0.239668,0.378687,0.155330
11,Ethiopia,15-49 years,Rate,2020,24.108446,26.069180,22.386505
12,Nigeria,15-49 years,Rate,2020,18.018582,19.728042,16.611754
13,Fiji,15-49 years,Rate,2020,2.641567,5.517765,0.654506
14,Germany,15-49 years,Rate,2020,3.468349,3.876612,3.187289
15,United States of America,15-49 years,Rate,2020,33.359688,34.663460,32.058489
16,Kenya,15-49 years,Rate,2020,42.762396,46.483915,39.448608
17,Japan,15-49 years,Rate,2020,0.189647,0.211685,0.170640
18,Australia,15-49 years,Rate,2020,0.231634,0.243760,0.217310
19,Brazil,15-49 years,Rate,2020,21.901328,23.845813,20.234796
20,Romania,15-49 years,Rate,2020,18.023526,26.292571,10.591084
21,Italy,15-49 years,Rate,2020,8.201799,8.677592,7.719720
22,Saudi Arabia,15-49 years,Rate,2020,17.390042,20.610325,13.677623
23,China,15-49 years,Rate,2020,0.306865,1.600954,0.069869
24,Egypt,15-49 years,Rate,2020,26.043847,34.426903,17.968110

### üíæ Export Cleaned Data

Save the cleaned dataset to a `.csv` file for future use:

In [13]:
df_cleaned_death_data.to_csv("cleaned_death_data_covid.csv", index=False)