In [74]:
import pandas as pd

In [75]:
covid_raw_df = pd.read_csv("../1_datasets/raw_datasets/covid_deaths_all_countries.csv")
covid_df = covid_raw_df.copy()
covid_df.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,Deaths,Lao People's Democratic Republic,Both,All ages,COVID-19,Rate,2020,6.867837e-11,6.867837e-11,6.867837e-11
1,Deaths,Sri Lanka,Both,All ages,COVID-19,Rate,2020,2.820345e+00,2.820345e+00,2.820345e+00
2,Deaths,Fiji,Both,All ages,COVID-19,Rate,2020,8.084884e+00,1.685940e+01,2.008246e+00
3,Deaths,Samoa,Both,All ages,COVID-19,Rate,2020,2.370317e-09,2.370317e-09,2.370317e-09
4,Deaths,Malaysia,Both,All ages,COVID-19,Rate,2020,1.516114e+00,2.286782e+00,8.061217e-01

In [76]:
print(covid_df.info())
covid_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   measure   204 non-null    object
 1   location  204 non-null    object
 2   sex       204 non-null    object
 3   age       204 non-null    object
 4   cause     204 non-null    object
 5   metric    204 non-null    object
 6   year      204 non-null    int64
 7   val       204 non-null    float64
 8   upper     204 non-null    float64
 9   lower     204 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 16.1+ KB
None

measure     0
location    0
sex         0
age         0
cause       0
metric      0
year        0
val         0
upper       0
lower       0
dtype: int64

In [77]:
covid_df = covid_df.drop(
    ["sex", "measure", "cause", "metric", "year", "age"], axis=1, errors="ignore"
)
covid_df = covid_df.rename(
    columns={"val": "COVID Deaths Val (Rate)", "location": "Country"}
)
covid_df.head()

,Country,COVID Deaths Val (Rate),upper,lower
0,Lao People's Democratic Republic,6.867837e-11,6.867837e-11,6.867837e-11
1,Sri Lanka,2.820345e+00,2.820345e+00,2.820345e+00
2,Fiji,8.084884e+00,1.685940e+01,2.008246e+00
3,Samoa,2.370317e-09,2.370317e-09,2.370317e-09
4,Malaysia,1.516114e+00,2.286782e+00,8.061217e-01

In [78]:
covid_df.shape

(204, 4)

In [79]:
pm25_raw = pd.read_csv("../1_datasets/raw_datasets/pm25_annual_concentration.csv")
pm25_concentration = pm25_raw.copy()
pm25_concentration.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AFR,Africa,Country,KEN,Kenya,Year,2019,...,NaN,NaN,6.29,NaN,13.74,10.01 [6.29-13.74],NaN,NaN,EN,2022-08-11T21:00:00.000Z
1,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,TTO,Trinidad and Tobago,Year,2019,...,NaN,NaN,7.44,NaN,12.55,10.02 [7.44-12.55],NaN,NaN,EN,2022-08-11T21:00:00.000Z
2,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,EUR,Europe,Country,GBR,United Kingdom of Great Britain and Northern I...,Year,2019,...,NaN,NaN,9.73,NaN,10.39,10.06 [9.73-10.39],NaN,NaN,EN,2022-08-11T21:00:00.000Z
3,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,GRD,Grenada,Year,2019,...,NaN,NaN,7.07,NaN,13.20,10.08 [7.07-13.20],NaN,NaN,EN,2022-08-11T21:00:00.000Z
4,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,BRA,Brazil,Year,2019,...,NaN,NaN,8.23,NaN,12.46,10.09 [8.23-12.46],NaN,NaN,EN,2022-08-11T21:00:00.000Z

In [80]:
pm25_concentration = pm25_concentration.rename(
    columns={
        "Location": "Country",
        "Period": "Year",
        "FactValueNumeric": "PM25 concentration (µg/m³)",
        "Dim1": "Population Category",
        "FactValueNumericLow": "PM25 lower bound",
        "FactValueNumericHigh": "PM25 upper bound",
    }
)

In [81]:
years_to_keep = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
category_to_keep = ["Cities"]

pm25_concentration = pm25_concentration[
    pm25_concentration["Year"].isin(years_to_keep)
    & pm25_concentration["Population Category"].isin(category_to_keep)
]
pm25_concentration.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Country,Period type,Year,...,FactValueUoM,FactValueNumericLowPrefix,PM25 lower bound,FactValueNumericHighPrefix,PM25 upper bound,Value,FactValueTranslationID,FactComments,Language,DateModified
0,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AFR,Africa,Country,KEN,Kenya,Year,2019,...,NaN,NaN,6.29,NaN,13.74,10.01 [6.29-13.74],NaN,NaN,EN,2022-08-11T21:00:00.000Z
2,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,EUR,Europe,Country,GBR,United Kingdom of Great Britain and Northern I...,Year,2019,...,NaN,NaN,9.73,NaN,10.39,10.06 [9.73-10.39],NaN,NaN,EN,2022-08-11T21:00:00.000Z
6,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,EUR,Europe,Country,RUS,Russian Federation,Year,2019,...,NaN,NaN,8.58,NaN,12.57,10.19 [8.58-12.57],NaN,NaN,EN,2022-08-11T21:00:00.000Z
7,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,EUR,Europe,Country,ESP,Spain,Year,2019,...,NaN,NaN,9.94,NaN,10.38,10.19 [9.94-10.38],NaN,NaN,EN,2022-08-11T21:00:00.000Z
15,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,HTI,Haiti,Year,2019,...,NaN,NaN,5.52,NaN,17.73,10.38 [5.52-17.73],NaN,NaN,EN,2022-08-11T21:00:00.000Z

In [82]:
pm25_concentration = pm25_concentration.drop(
    [
        "IndicatorCode",
        "Indicator",
        "ValueType",
        "ParentLocationCode",
        "ParentLocation",
        "SpatialDimValueCode",
        "Period type",
        "IsLatestYear",
        "Dim1 type",
        "Dim1ValueCode",
        "Dim2 type",
        "Dim2",
        "Dim2ValueCode",
        "Dim3 type",
        "Dim3",
        "Dim3ValueCode",
        "DataSourceDimValueCode",
        "DataSource",
        "FactValueNumericPrefix",
        "FactValueUoM",
        "FactValueNumericLowPrefix",
        "FactValueNumericHighPrefix",
        "FactValueTranslationID",
        "FactComments",
        "Language",
        "DateModified",
        "Location type",
        "Value",
    ],
    axis=1,
    errors="ignore",
)
print(pm25_concentration.shape)
pm25_concentration.head()

(1740, 6)

,Country,Year,Population Category,PM25 concentration (µg/m³),PM25 lower bound,PM25 upper bound
0,Kenya,2019,Cities,10.01,6.29,13.74
2,United Kingdom of Great Britain and Northern I...,2019,Cities,10.06,9.73,10.39
6,Russian Federation,2019,Cities,10.19,8.58,12.57
7,Spain,2019,Cities,10.19,9.94,10.38
15,Haiti,2019,Cities,10.38,5.52,17.73

In [83]:
pm25_mean = pm25_concentration.groupby("Country", as_index=False)[
    "PM25 concentration (µg/m³)"
].mean()
pm25_mean.rename(
    columns={"PM25 concentration (µg/m³)": "Mean_PM25_2010_2019"}, inplace=True
)

In [84]:
pm25_mean["Country"] = pm25_mean["Country"].str.strip()
covid_df["Country"] = covid_df["Country"].str.strip()

covid_with_pm25 = pd.merge(covid_df, pm25_mean, on="Country", how="inner")
print(covid_with_pm25.shape)
covid_with_pm25.head(30)

(169, 5)

,Country,COVID Deaths Val (Rate),upper,lower,Mean_PM25_2010_2019
0,Lao People's Democratic Republic,6.867837e-11,6.867837e-11,6.867837e-11,24.921
1,Sri Lanka,2.820345e+00,2.820345e+00,2.820345e+00,25.371
2,Malaysia,1.516114e+00,2.286782e+00,8.061217e-01,25.556
3,Solomon Islands,7.456992e-10,7.456992e-10,7.456992e-10,8.580
4,Thailand,1.105947e+00,2.257215e+00,2.548063e-01,26.562
5,Maldives,1.034426e+01,1.773338e+01,6.423306e+00,12.381
6,Myanmar,2.265547e+01,4.573871e+01,9.002056e+00,28.325
7,Belgium,1.721926e+02,1.778256e+02,1.667153e+02,14.859
8,Armenia,1.812200e+02,2.313051e+02,1.256314e+02,45.484
9,El Salvador,7.354820e+01,8.633220e+01,6.095876e+01,28.140
10,Mongolia,4.080975e-02,7.764153e-02,1.789559e-02,68.895
11,Timor-Leste,3.651418e-10,3.651418e-10,3.651418e-10,21.906
12,Bolivia (Plurinational State of),2.804516e+02,3.196691e+02,2.332168e+02,28.378
13,France,8.434890e+01,8.923542e+01,7.948955e+01,14.442
14,Panama,1.145024e+02,1.438164e+02,8.654503e+01,14.000
15,Kyrgyzstan,8.548278e+01,1.057794e+02,6.102470e+01,46.156
16,Albania,1.310216e+02,2.100336e+02,5.420531e+01,20.106
17,Paraguay,3.359036e+01,5.084434e+01,1.934108e+01,15.659
18,Uzbekistan,4.951084e+01,7.003995e+01,2.404616e+01,55.414
19,Israel,3.522422e+01,3.704231e+01,3.353923e+01,22.630
20,Egypt,6.819288e+01,9.014021e+01,4.707465e+01,64.911
21,Norway,8.098330e+00,8.696066e+00,7.563147e+00,8.362
22,Papua New Guinea,8.640724e+00,1.920672e+01,1.537192e+00,9.451
23,Kazakhstan,1.256827e+02,1.624538e+02,8.926221e+01,45.269
24,Turkmenistan,1.001563e+02,1.203654e+02,7.577274e+01,30.839
25,China,1.898881e+00,9.668454e+00,4.137581e-01,50.886
26,Latvia,5.179074e+01,1.067671e+02,2.680769e+01,18.201
27,Republic of Korea,2.445465e+00,3.865066e+00,1.596147e+00,27.403
28,Singapore,5.089524e-01,5.387425e-01,4.797915e-01,15.416
29,Liberia,5.077390e+01,6.154017e+01,4.461131e+01,41.158

In [85]:
raw_sdi_data = pd.read_csv(
    "../1_datasets/raw_datasets/sdi_by_country_year_2010_2019.csv"
)
sdi_df = raw_sdi_data.copy()
sdi_df.head()

,covariate_name_short,location_id,location_name,year_id,age_group_id,age_group_name,sex_id,sex,mean_value,lower_value,upper_value
0,sdi,1,Global,1950,22,All Ages,3,Both,0.369235,0.369235,0.369235
1,sdi,4,"Southeast Asia, East Asia, and Oceania",1950,22,All Ages,3,Both,0.205729,0.205729,0.205729
2,sdi,5,East Asia,1950,22,All Ages,3,Both,0.193972,0.193972,0.193972
3,sdi,6,China,1950,22,All Ages,3,Both,0.184144,0.184144,0.184144
4,sdi,7,Democratic People's Republic of Korea,1950,22,All Ages,3,Both,0.323069,0.323069,0.323069

In [86]:
sdi_df = sdi_df.drop(
    [
        "covariate_name_short",
        "location_id",
        "age_group_id",
        "age_group_name",
        "sex_id",
        "sex",
        "lower_value",
        "upper_value",
    ],
    axis=1,
    errors="ignore",
)
sdi_df = sdi_df.rename(
    columns={
        "location_name": "Country",
        "year_id": "Year",
        "mean_value": "SDI_mean_value",
    }
)
print(sdi_df.shape)
sdi_df.head()

(52992, 3)

                                  Country  Year  SDI_mean_value
0                                  Global  1950        0.369235
1  Southeast Asia, East Asia, and Oceania  1950        0.205729
2                               East Asia  1950        0.193972
3                                   China  1950        0.184144
4   Democratic People's Republic of Korea  1950        0.323069

In [87]:
years_to_keep = [2020]

sdi_df = sdi_df[sdi_df["Year"].isin(years_to_keep)]
sdi_df.reset_index(drop=True)
print(sdi_df.shape)
sdi_df.head(15)

(736, 3)

                                      Country  Year  SDI_mean_value
51520                                  Global  2020        0.661344
51521  Southeast Asia, East Asia, and Oceania  2020        0.692215
51522                               East Asia  2020        0.717709
51523                                   China  2020        0.713365
51524   Democratic People's Republic of Korea  2020        0.568189
51525              Taiwan (Province of China)  2020        0.871248
51526                          Southeast Asia  2020        0.645070
51527                                Cambodia  2020        0.468876
51528                               Indonesia  2020        0.651927
51529        Lao People's Democratic Republic  2020        0.484193
51530                                Malaysia  2020        0.738744
51531                                Maldives  2020        0.647609
51532                                 Myanmar  2020        0.529435
51533                             Philippines  2020        0.644867
51534                               Sri Lanka  2020        0.697649

In [89]:
sdi_df.drop(
    ["Year"],
    axis=1,
    errors="ignore",
)

                                      Country  SDI_mean_value
51520                                  Global        0.661344
51521  Southeast Asia, East Asia, and Oceania        0.692215
51522                               East Asia        0.717709
51523                                   China        0.713365
51524   Democratic People's Republic of Korea        0.568189
...                                       ...             ...
52251                                   Agder        0.906183
52252                    Vestfold og Telemark        0.905871
52253                               Innlandet        0.898081
52254                                   Viken        0.913234
52255                       Troms og Finnmark        0.903265

[736 rows x 2 columns]

In [90]:
covid_with_pm25["Country"] = covid_with_pm25["Country"].str.strip()
sdi_df["Country"] = sdi_df["Country"].str.strip()

covid_sdi_pm25 = pd.merge(covid_with_pm25, sdi_df, on="Country", how="inner")
print(covid_sdi_pm25.shape)
covid_sdi_pm25.head(30)

(170, 7)

,Country,COVID Deaths Val (Rate),upper,lower,Mean_PM25_2010_2019,Year,SDI_mean_value
0,Lao People's Democratic Republic,6.867837e-11,6.867837e-11,6.867837e-11,24.921,2020,0.484193
1,Sri Lanka,2.820345e+00,2.820345e+00,2.820345e+00,25.371,2020,0.697649
2,Malaysia,1.516114e+00,2.286782e+00,8.061217e-01,25.556,2020,0.738744
3,Solomon Islands,7.456992e-10,7.456992e-10,7.456992e-10,8.580,2020,0.426112
4,Thailand,1.105947e+00,2.257215e+00,2.548063e-01,26.562,2020,0.679120
5,Maldives,1.034426e+01,1.773338e+01,6.423306e+00,12.381,2020,0.647609
6,Myanmar,2.265547e+01,4.573871e+01,9.002056e+00,28.325,2020,0.529435
7,Belgium,1.721926e+02,1.778256e+02,1.667153e+02,14.859,2020,0.851347
8,Armenia,1.812200e+02,2.313051e+02,1.256314e+02,45.484,2020,0.698269
9,El Salvador,7.354820e+01,8.633220e+01,6.095876e+01,28.140,2020,0.558920
10,Mongolia,4.080975e-02,7.764153e-02,1.789559e-02,68.895,2020,0.614630
11,Timor-Leste,3.651418e-10,3.651418e-10,3.651418e-10,21.906,2020,0.442349
12,Bolivia (Plurinational State of),2.804516e+02,3.196691e+02,2.332168e+02,28.378,2020,0.594854
13,France,8.434890e+01,8.923542e+01,7.948955e+01,14.442,2020,0.836049
14,Panama,1.145024e+02,1.438164e+02,8.654503e+01,14.000,2020,0.703788
15,Kyrgyzstan,8.548278e+01,1.057794e+02,6.102470e+01,46.156,2020,0.600500
16,Albania,1.310216e+02,2.100336e+02,5.420531e+01,20.106,2020,0.703790
17,Paraguay,3.359036e+01,5.084434e+01,1.934108e+01,15.659,2020,0.631058
18,Uzbekistan,4.951084e+01,7.003995e+01,2.404616e+01,55.414,2020,0.659124
19,Israel,3.522422e+01,3.704231e+01,3.353923e+01,22.630,2020,0.806352
20,Egypt,6.819288e+01,9.014021e+01,4.707465e+01,64.911,2020,0.597363
21,Norway,8.098330e+00,8.696066e+00,7.563147e+00,8.362,2020,0.914530
22,Papua New Guinea,8.640724e+00,1.920672e+01,1.537192e+00,9.451,2020,0.415187
23,Kazakhstan,1.256827e+02,1.624538e+02,8.926221e+01,45.269,2020,0.722789
24,Turkmenistan,1.001563e+02,1.203654e+02,7.577274e+01,30.839,2020,0.678298
25,China,1.898881e+00,9.668454e+00,4.137581e-01,50.886,2020,0.713365
26,Latvia,5.179074e+01,1.067671e+02,2.680769e+01,18.201,2020,0.827900
27,Republic of Korea,2.445465e+00,3.865066e+00,1.596147e+00,27.403,2020,0.883718
28,Singapore,5.089524e-01,5.387425e-01,4.797915e-01,15.416,2020,0.854296
29,Liberia,5.077390e+01,6.154017e+01,4.461131e+01,41.158,2020,0.348134

In [91]:
print(
    "COVID dataset duplicate countries:", covid_with_pm25["Country"].duplicated().sum()
)
print("SDI dataset duplicate countries:", sdi_df["Country"].duplicated().sum())

print(
    "Merged dataset duplicate countries:", covid_sdi_pm25["Country"].duplicated().sum()
)

COVID dataset duplicate countries: 0
SDI dataset duplicate countries: 4
Merged dataset duplicate countries: 1

In [92]:
dups = sdi_df[sdi_df.duplicated("Country", keep=False)]
print(dups.sort_values("Country"))

                            Country  Year  SDI_mean_value
51552                       Georgia  2020        0.729126
51774                       Georgia  2020        0.844595
51654  North Africa and Middle East  2020        0.651673
51655  North Africa and Middle East  2020        0.651673
51940                        Punjab  2020        0.627706
52248                        Punjab  2020        0.513584
51675                    South Asia  2020        0.550586
51676                    South Asia  2020        0.550586

In [93]:
sdi_df_clean = sdi_df.drop_duplicates(subset="Country", keep="first")

In [96]:
final_covid_sdi_pm25 = pd.merge(
    covid_with_pm25, sdi_df_clean, on="Country", how="inner"
)
print("Merged duplicate countries:", final_covid_sdi_pm25["Country"].duplicated().sum())
print(final_covid_sdi_pm25.shape)
final_covid_sdi_pm25.head(30)

Merged duplicate countries: 0
(169, 7)

,Country,COVID Deaths Val (Rate),upper,lower,Mean_PM25_2010_2019,Year,SDI_mean_value
0,Lao People's Democratic Republic,6.867837e-11,6.867837e-11,6.867837e-11,24.921,2020,0.484193
1,Sri Lanka,2.820345e+00,2.820345e+00,2.820345e+00,25.371,2020,0.697649
2,Malaysia,1.516114e+00,2.286782e+00,8.061217e-01,25.556,2020,0.738744
3,Solomon Islands,7.456992e-10,7.456992e-10,7.456992e-10,8.580,2020,0.426112
4,Thailand,1.105947e+00,2.257215e+00,2.548063e-01,26.562,2020,0.679120
5,Maldives,1.034426e+01,1.773338e+01,6.423306e+00,12.381,2020,0.647609
6,Myanmar,2.265547e+01,4.573871e+01,9.002056e+00,28.325,2020,0.529435
7,Belgium,1.721926e+02,1.778256e+02,1.667153e+02,14.859,2020,0.851347
8,Armenia,1.812200e+02,2.313051e+02,1.256314e+02,45.484,2020,0.698269
9,El Salvador,7.354820e+01,8.633220e+01,6.095876e+01,28.140,2020,0.558920
10,Mongolia,4.080975e-02,7.764153e-02,1.789559e-02,68.895,2020,0.614630
11,Timor-Leste,3.651418e-10,3.651418e-10,3.651418e-10,21.906,2020,0.442349
12,Bolivia (Plurinational State of),2.804516e+02,3.196691e+02,2.332168e+02,28.378,2020,0.594854
13,France,8.434890e+01,8.923542e+01,7.948955e+01,14.442,2020,0.836049
14,Panama,1.145024e+02,1.438164e+02,8.654503e+01,14.000,2020,0.703788
15,Kyrgyzstan,8.548278e+01,1.057794e+02,6.102470e+01,46.156,2020,0.600500
16,Albania,1.310216e+02,2.100336e+02,5.420531e+01,20.106,2020,0.703790
17,Paraguay,3.359036e+01,5.084434e+01,1.934108e+01,15.659,2020,0.631058
18,Uzbekistan,4.951084e+01,7.003995e+01,2.404616e+01,55.414,2020,0.659124
19,Israel,3.522422e+01,3.704231e+01,3.353923e+01,22.630,2020,0.806352
20,Egypt,6.819288e+01,9.014021e+01,4.707465e+01,64.911,2020,0.597363
21,Norway,8.098330e+00,8.696066e+00,7.563147e+00,8.362,2020,0.914530
22,Papua New Guinea,8.640724e+00,1.920672e+01,1.537192e+00,9.451,2020,0.415187
23,Kazakhstan,1.256827e+02,1.624538e+02,8.926221e+01,45.269,2020,0.722789
24,Turkmenistan,1.001563e+02,1.203654e+02,7.577274e+01,30.839,2020,0.678298
25,China,1.898881e+00,9.668454e+00,4.137581e-01,50.886,2020,0.713365
26,Latvia,5.179074e+01,1.067671e+02,2.680769e+01,18.201,2020,0.827900
27,Republic of Korea,2.445465e+00,3.865066e+00,1.596147e+00,27.403,2020,0.883718
28,Singapore,5.089524e-01,5.387425e-01,4.797915e-01,15.416,2020,0.854296
29,Liberia,5.077390e+01,6.154017e+01,4.461131e+01,41.158,2020,0.348134

In [98]:
final_covid_sdi_pm25.to_csv("final_merged_covid.csv", index=False)